[2014-03-06 17:39] richardsimko opened #5 "Installation issues"
Hi!

The install instructions are not working as expected. I updated .lldbinit to include the following:

[code]

The second command being for debug purposes and works fine, chisel however does not. I also tried expanding the tilde to the full path but it didn't help. Any advice on what might be wrong with the installation?

[2014-03-06 17:47] #5 closed, assigned to nobody

[2014-03-07 03:41] jdriscoll opened #9 "'import' is not a valid command"
Executing command source ~/.lldbinit I get the following error:

[code]

[2014-03-07 07:03] #9 closed, assigned to nobody

[2014-03-07 20:00] stevewehba opened #14 "Doesn't seem to work for me"
Followed install instructions. Relaunched Xcode. None of the chisel commands are recognized in the debugger window and neither are "po" and "p". Any ideas?

Removed .lldbinit file as well as chisel-master folder. Relaunched Xcode. "po" and "p" still unavailable. Any idea about how to get "po" and "p" back?

Thanks.

[2014-03-07 22:06] #14 closed, assigned to nobody

[2014-03-07 22:15] kastiglione opened #15 "Create test suite"
Let's build a test suite for Chisel. I'm thinking integration tests.
- [ ] Build an app for the test harness.
- [ ] Build test runner
- [ ] ~~Profit~~ Write tests

Thoughts?

[2014-03-07 23:11] kastiglione opened #17 "Merge `show{view,layer,image,imageref}` into `visualize`"
As suggested in #11

[2014-03-10 03:39] fsjack opened #24 "Preview not show up"
Nothing happen when i input "show self.view".

[2014-03-10 23:14] Thunor opened #26 "The mask command breaks if the orientation is portrait upside down."
In the case where the simulator has the view rotated so that the orientation is portrait upside down, the mask command will shade the wrong area.
![screen shot 2014-03-10 at 6 13 58 pm](https://f.cloud.github.com/assets/716445/2380375/b7c3ce4c-a8a9-11e3-9af2-04abb4af48d7.png)

[2014-03-11 03:41] btxkenshin opened #27 "show{view,layer...} could not work, didi i miss something?"
Xcode 5.01

There are so many warnings/errors:
First `UIGraphicsBeginImageContextWithOptions not defined`
Then tens of thousands `context 0x0`

[code]

[2014-03-11 04:30] #24 closed, assigned to nobody

[2014-03-12 13:11] alper opened #30 "Can't install chisel"
The command specified in the Readme does not work:

brew install chisel
Error: No available formula for chisel
Searching taps...
Error: 404 Not Found
Please report this bug:
    https://github.com/mxcl/homebrew/wiki/troubleshooting
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/open-uri.rb:277:in `open_http'
/usr/local/Library/Homebrew/cmd/search.rb:98:in`value'
/usr/local

[2014-03-12 15:10] #30 closed, assigned to nobody

[2014-03-13 14:46] jigsaw22 opened #33 "123456789"
987654321

[2014-03-13 14:46] #33 closed, assigned to nobody

[2014-03-19 00:23] numist opened #34 "Detect if debugging an iOS or Mac app and use NSView vs UIView appropriately."
I'm working on a lot of Mac stuff these days, and a lot of these commands shouldn't be that much different in implementation.

[2014-03-26 06:37] #17 closed, assigned to nobody

[2014-03-31 08:39] pbernery opened #37 "Install instructions from `brew` misses information"
Installation misses instructions when installing from `brew` and, I guess, when you use python from OS X, not the one installed with `brew`. I had to manually add this command to `~/.lldbinit`:

[code]

while the instructions suggest that it is needed only when installing manually.

[2014-03-31 15:43] #37 closed, assigned to nobody

[2014-04-23 17:52] jkubicek opened #39 "Tag new release and upgrade Homebrew formula"
The Homebrew formula is still pointing at the 1.0.0 tag (and the sha b6cd385bb8ac66116de398e93cf0ab8b28955293, which I don't see in the repo). If everything is stable, I'd be more than happy to tag 1.0.1 and update the homebrew formula.

Really, I just want coworkers to be able to use my [`fvc --view`](https://github.com/facebook/chisel/pull/13) command without manually installing chisel.

[2014-04-23 21:09] #39 closed, assigned to nobody

[2014-05-29 10:37] chml opened #44 "pviews output incorrectly"
-    pviews

[code]
-     po `-recursiveDescription`

[code]

[2014-07-16 16:27] javache opened #46 "pvc doesn't work when running on 64-bit devices"
When running on an iPhone 5s:

[code]

When disabling the arm64 architecture, this works. It might an LLDB bug? http://stackoverflow.com/questions/11372232/strange-behaviours-with-stringwithformat-float

[2014-07-16 23:24] kastiglione opened #47 "libobjc required"
Found out that if an app isn't calling the objc runtime, then the objc runtime definitions required by Chisel aren't available and cause Chisel to give unfriendly errors. For example `Ivar` is needed by `pivar` and `wivar`, and without those, the error message is:

[code]

[2014-09-05 21:52] bryansum opened #48 "Improve documentation"
It would be nice to have a more comprehensive set of docs in the GitHub wiki (perhaps even just copy/pasted from help , initially). It's not clear from the README what all of these awesome commands can do!

[2014-09-29 20:43] #44 closed, assigned to nobody

[2014-09-29 21:18] #34 closed, assigned to nobody

[2014-10-03 14:27] #26 closed, assigned to dstnbrkr

[2014-11-08 07:52] #27 closed, assigned to nobody

[2014-11-21 06:12] KingOfBrian opened #54 "fb.evaluateIntegerExpression converting incorrectly to hex?"
I'm working on getting a count of a method, and it returns a large number, 0x7fffffff (2147483647).  The value 2147483647 is getting passed to int('2147483647', 16), which is not correct, it should be int ('2147483647', 10).   Am I missing something?

[2014-12-01 17:57] #47 closed, assigned to nobody

[2014-12-02 18:17] kastiglione opened #57 "bmessage breakpoints fail on methods defined in categories"
I don't know if there was a recent change or regression to lldb, but in order to set breakpoints on methods defined in categories, the category needs to be included in the breakpoint name.

For example, setting a breakpoint on `-setFrame:` now has to be:

[code]

Currently, `bmessage` doesn't consider categories when creating the breakpoint and silently fails on methods defined in categories.

I d

[2014-12-08 18:32] kastiglione opened #59 "Add target/action commands"
As described in the [Dancing in the Debugger — A Waltz with LLDB](http://www.objc.io/issue-19/lldb-debugging.html), it's straight forward to manually determine the targets/actions of a control. However, what was new to me in that article is the ability to use a `0` value `UIControlEvents`, as a form of a wildcard.

I think there might be room for two commands: `pactions`, and `bactions`.

cc @arig

[2014-12-10 19:50] kastiglione opened #62 "Break out a libChisel"
I mentioned this in a [recent comment](https://github.com/facebook/chisel/pull/55#issuecomment-65961831), but I'd like to get more feedback on this idea.

Many of the commands end up marshaling a bunch of expressions back and forth between LLDB's python interpreter and the target app, but this has proven to be slowish at times. For example the manual path `pvc` is a fair bit slower than the path t

[2014-12-17 17:17] #57 closed, assigned to nobody

[2014-12-19 07:00] nealsun opened #63 "command 'mask' always get wrong"
when I use `mask self.view` or `mask (UIView *)self.view`,  get the following error code: `'error: error: no known method '-initWithFrame:'; cast the message send to the method's return type'`

[2014-12-19 17:58] #46 closed, assigned to nobody

[2015-01-06 05:48] #63 closed

[2015-01-08 17:27] goldensecret opened #71 "Mine painter crash"
openeye.openmods.info/crashes/bba0c6fbe6cdcfab88360b36da8c4db8

mine painter, is most likely the problem but the mod author dose not seem to be responding to contact attempts with this bug from other people, it occurs when you try to take a "chip" out of one of the converted blocks from chisel. and now the world will not open.

sorry if this is the wrong place to post bugs, couldn't think of anywh

[2015-01-08 17:29] goldensecret commented on #71
totally. wrong place- never mind...

[2015-01-08 17:29] #71 closed

[2015-01-12 20:40] suite22 commented on #48
@bryansum I copy and pasted from help like you suggested. Nothing special but it's now up for improvement - https://github.com/facebook/chisel/wiki

[2015-02-11 04:58] kastiglione commented on #57
According to my radar, the underlying bug in lldb has been fixed in Xcode 6.3 - Build 6D520o.

[2015-02-11 05:06] kastiglione opened #74 "Specify objc++ where necessary for Swift support"
In https://github.com/facebook/chisel/pull/68#issuecomment-71319049 @moreindirection pointed out that in the context of Swift, many lldb commands called internally from Chisel commands need to be updated to explicitly specify the language as `objc++`.

See #73

[2015-02-24 09:24] banxi1988 opened #77 "PVC command error in Xcode 6.3 beta1"
test on a simple iOS One View Application
error message as follows.
[code]

[2015-02-24 18:51] kastiglione commented on #77
Thanks! Have you tried beta 2 which came out yesterday? If you do try it, mind updating this issue if it is resolved? Hopefully it's just a beta bug.

[2015-02-28 00:48] kastiglione opened #78 "Feature idea: commands for only breaking on or off main thread"
It may not be that common, but I just had a case where I wanted to restrict a certain breakpoint to only the main thread. The `breakpoint` command has a `-t` flag, but the `tid` is not the simply the thread number, instead the `tid` needs to be looked up via `thread list`.

As for a command for breaking only when *off* the main thread, I don't know yet if the Python API would allow that.

[2015-03-06 19:05] kastiglione opened #79 "Feature idea: playout command, like pviews but just for layout"
A `playout` command might differ from `pviews` by:

1. Don't show full `-description`, just show class name and frame. Perhaps an flag to allow inclusion of a given property, if present.
2. Order the tree visually, top (minY) to bottom (maxY), left (minX) to right (maxX). Currently `pviews` shows things in breadth first of subview order (back-to-front) but this order can differ from visual order.

[2015-03-18 01:13] nickkjordan opened #80 "Issues running in Swift"
I am getting errors because my expressions are running in Swift despite the [`evaluateExpressionValueInFrameLanguage`](https://github.com/facebook/chisel/blob/abcbb93abe22d98b273c981c71c96ece80286af6/fblldbbase.py#L49) function

Typical error statement:

error: expected ',' separator
(int)((BOOL)((unsigned long)CFGetTypeID((CFTypeRef)(shape)) == (unsigned long)CGImageGetTypeID()))

Is there someth

[2015-03-19 16:00] pvinis opened #81 "border <view> not working on osx"
i have an NSView* view and i try to border it but i get this.
(lldb) border view
error: use of undeclared identifier 'UIColor'
error: 1 errors parsing expression

[2015-03-19 16:34] kastiglione commented on #81
Thanks for the report. Can you run the below command from your app's lldb console and let me know what the output is?

[code]

[2015-03-19 16:35] pvinis commented on #81
this.
x86_64h-apple-macosx

[2015-03-19 16:36] pvinis commented on #81
i actually changed the border function to use NSColor instead of UIColor and its ok now, but i thought it should choose by itself. maybe i have to change everything UI* to NS*?

[2015-03-19 16:38] kastiglione commented on #81
When did you install or last updated Chisel? We should support this arch as of January 5th, see #69.

[2015-03-19 16:39] kastiglione commented on #81
Here's the code that chooses whether to use `UIColor` or `NSColor`:

https://github.com/facebook/chisel/blob/c5e57331805f9f1d67d88eb61603a75575ce8ab9/commands/FBDisplayCommands.py#L48-L58

[2015-03-19 16:39] pvinis commented on #81
i installed it with brew.
% brew info chisel
chisel: stable 1.1.0
https://github.com/facebook/chisel
/usr/local/Cellar/chisel/1.1.0 (18 files, 112K) *
  Built from source
From: https://github.com/Homebrew/homebrew/blob/master/Library/Formula/chisel.rb
==> Caveats
Add the following line to ~/.lldbinit to load chisel when Xcode launches:
  command script import /usr/local/opt/chisel/libexec/fblldb.p

[2015-03-19 16:40] pvinis commented on #81
oh.. i dont have that code.. mine was [UIColor ....
is the version in brew that old?

[2015-03-19 16:41] kastiglione commented on #81
Oh! We need to submit an update to brew. In the meantime, you might want to try installing from git, which should be pretty straightforward.

[2015-03-19 16:41] pvinis commented on #81
yep. i will do that. thanks. will it also work for UIWindow stuff etc?

[2015-03-19 16:43] kastiglione commented on #81
It should, but I'm not entirely sure. The Mac support was provided by @kolinkrewinkel in #45. Please do file any issues you run into and we can look at fixes.

[2015-03-19 16:43] #81 closed

[2015-03-19 16:44] kastiglione opened #82 "Update homebrew formula"
See #81

[2015-03-19 16:44] pvinis commented on #81
thanks again.

[2015-03-19 18:54] kastiglione commented on #81
You're welcome! Thanks for filing.

[2015-03-26 11:18] pvinis opened #84 "is autocompletion of variables/methods possible?"
or is it a limitation of lldb?
like when i type "po s<tab>" i get "po self", but if i do "pview s<tab>" i get nothing.

[2015-03-26 14:20] MarcoSero opened #85 "Adding ComponentKit's debugging commands to Chisel"
It would be nice to have something to print the components' hierarchy in Chisel.

Wouldn't

    pcomponents

be better of

    po [CKComponentHierarchyDebugHelper componentHierarchyDescription]

[2015-03-26 16:56] kastiglione commented on #84
I've wondered about this too, but have never looked into it. It would be great to have, however I don't know if Xcode is going to be a willing participant. It may need to be an Xcode plugin.

I'll leave this open as something that would be great to have, let's track it.

[2015-03-26 16:56] kastiglione commented on #85
Yes, it would!

hey @natansh hurry up already!

[2015-03-26 21:28] kastiglione commented on #85
@MarcoSero Check out #86

[2015-03-26 21:28] #85 closed

[2015-03-27 08:37] MarcoSero commented on #85
That was quick! Thank you.

[2015-03-29 05:02] kastiglione commented on #82
Resolved by homebrew/homebrew#38140

[2015-03-29 05:02] #82 closed

[2015-04-13 08:58] palcalde opened #88 "'vs' command broken?"
XCode prints this, anyone knows how to fix it?

Traceback (most recent call last):
  File "/usr/local/Cellar/chisel/1.2.0/libexec/fblldb.py", line 81, in runCommand
    command.run(args, options)
  File "/usr/local/Cellar/chisel/1.2.0/libexec/commands/FBFlickerCommands.py", line 60, in run
    walker = FlickerWalker(object)
  File "/usr/local/Cellar/chisel/1.2.0/libexec/commands/FBFlickerCommands.

[2015-04-14 23:55] kastiglione commented on #88
Thanks for the report! I'll look into this and get back to you, hopefully soon :stuck_out_tongue_winking_eye:

[2015-04-16 17:03] donshefer commented on #80
I'm seeing something similar in my Swift project:

(lldb) caflush
error: <EXPR>:1:22: error: expected ',' separator
(void)[CATransaction flush]

[2015-04-16 19:36] kastiglione commented on #80
Thanks for the reports! I will try to take a look at this soon.

[2015-04-17 07:35] palcalde commented on #88
Thank you! I used to use this command a lot to jump between siblings and superviews. It was great. And a lot faster than the built in tree hierarchy view in the debugger :-)

[2015-04-18 02:44] kastiglione commented on #78
I guess this is as simple as a breakpoint condition on `[NSThread isMainThread]`.

[2015-04-29 21:23] kastiglione opened #89 "bmessage: Consult skip-prologue setting on x86"
If the `target.skip-prologue` setting is set to `true`, then [`functionPreambleExpressionForSelf()` will return an invalid expression](https://github.com/facebook/chisel/blob/6c1cfcd4010100eb54b1802fab27e4d1726aed5e/fblldbobjcruntimehelpers.py#L50-L51). When the prologue is skipped, the expression should be `*(id*)($ebp+8)`.

cc @rohan-mehta

[2015-05-01 20:31] DerekSelander opened #91 "Many OS X features say that work break in OS X apps"
Try testing this on an OS X application on a particular NSView you know the visual location of.

This is after the latest version of Chisel is loaded into LLDB

[code]
The above works. But try the mask command
[code]

The border command that says is available in the README also doesn't work on OS X
[code]

Seems like some of these commands are hardcoded for iOS only?

[2015-05-01 21:13] #89 closed

[2015-05-01 21:17] kastiglione commented on #91
@DerekSelander Thanks for the report! Chisel doesn't have a test suite (it would be great to add one: #15) and the majority of contributors and maintainers use chisel with iOS. I'd be more than happy to accept pull requests if you were interested in contributing :ski

[2015-05-01 21:20] kastiglione commented on #91
_Reopened following accidental close…_

[2015-05-03 05:54] kastiglione commented on #88
@palcalde Which version of Xcode are you using? With Xcode 6.2 / lldb-320.4.160, the problem is that the `SBInputReader` class is not exposed through the `lldb` module. I haven't tried Xcode 6.3, hopefully the missing class is a temporary regression.

[2015-05-04 09:33] palcalde commented on #88
@kastiglione I'm using 6.3, tho this command has been broken since last 3/4 months. I think since XCode 6.0. I've created a #92  that fixes it, instead of using SBInputReader which, as you mention, is not accesible anymore I used the standard stdin. I tested it and seems to work fine. Let me know what you think.

[2015-05-06 11:12] yxztj commented on #80
Hi, I'm also seeing this error:
(lldb) pviews
error: <EXPR>:1:20: error: expected ',' separator
(id)[(id)[UIWindow keyWindow] recursiveDescription]

[2015-05-07 14:42] kastiglione commented on #88
Fixed by #92

[2015-05-07 14:42] #88 closed

[2015-05-09 00:14] kastiglione commented on #80
@yxztj I just tried running `pviews` using the "Master-Detail Application" template that comes with Xcode. I could not reproduce the error you've reported. I am using the latest Xcode GM, 6.3.2 GM. If you're able to try the GM and let me know whether the GM fixes this for you, that would be great. Or, using whichever version you have installed currently, could you try creating a new project based

[2015-05-09 00:17] kastiglione commented on #80
@donshefer I just tried `caflush` using Xcode 6.3.2 GM, and could not reproduce the error you reported. When you update to 6.3.2, if you try `caflush` on your Swift project and it still fails, I would love to know and investigate more. Thanks!

[2015-05-09 00:23] kastiglione commented on #80
@nickkjordan I am seeing different errors when I run `visualize`. I'll look into them. I was calling `visualize` on a view. Were you calling it on a image, view, or layer?

[2015-05-13 08:08] nealsun opened #94 "got error at ' isMac = runtimeHelpers.isMacintoshArch()'"
run any command, got this error
Traceback (most recent call last):
  File "/usr/local/opt/chisel/libexec/fblldb.py", line 81, in runCommand
    command.run(args, options)
  File "/usr/local/Cellar/chisel/1.2.0/libexec/commands/FBPrintCommands.py", line 104, in run
    isMac = runtimeHelpers.isMacintoshArch()
AttributeError: 'module' object has no attribute 'isMacintoshArch'

[2015-05-13 15:01] kastiglione commented on #94
Thanks for the report. I'll look into this today.

[2015-05-13 16:28] nickkjordan commented on #80
This is bad, but I can't quite remember at this point.  I *think* it was on a layer though, because I remember doing some animations around then

[2015-05-14 17:41] kastiglione commented on #94
@nealsun Did you install from git, homebrew, or some other way?

[2015-05-15 01:30] nealsun commented on #94
@kastiglione Yes, I installed from homebrew

[2015-05-15 03:06] kastiglione commented on #94
Ok I'll install from homebrew and see what's up.

[2015-05-27 18:05] kastiglione commented on #59
Resolved by #95

[2015-05-27 18:05] #59 closed

[2015-06-01 16:18] #78 closed

[2015-06-10 10:04] jernejstrasner commented on #94
Same thing here.

[2015-06-10 22:30] kastiglione commented on #94
Ok thanks. Will get to this!

[2015-06-14 15:13] mohamede1945 opened #100 "Issue with Visualize command with CGImageRef"
Whenever I try the visualize a CGImageRef. I got the following error:

[code]

Using Xcode 6.3.2

[2015-06-15 04:33] kastiglione commented on #100
Do you know what image format the underlying `CGImageRef` uses?

The `visualize` command is making use of `UIImagePNGRepresentation`, which the documentation states:

[2015-06-15 12:26] mohamede1945 commented on #100
You are correct. My data is in JPG format. I'll close it as invalid.

[2015-06-15 12:26] #100 closed

[2015-06-15 13:29] kastiglione commented on #100
I should look into what it would take to support other formats.

[2015-06-18 10:46] mattjgalloway commented on #77
Closing this out as it works in Xcode 6. It must have been an issue in the first beta. Presumably works now because we use `_printHierarchy`.

[2015-06-18 10:46] #77 closed

[2015-07-12 14:32] Gargo opened #101 "Doesn't work?"
I followed all the instructions but it still can't recognize any chisel command. xcode6.3.2
what to do?

[2015-07-12 19:37] arigrant commented on #101
What happens when you type in a command?

Check that ~/.lldbinit has the correct contents and restart Xcode. If it still doesn't work then try this command in the debugger:

command source ~/.lldbinit

[2015-07-14 08:49] adad184 opened #102 "chisel only works fine once"
I installed **chisel** correctly, and it work fine when i debug first time.
but when i run debugging again, chisel can not be loaded. So i have to restart the xcode to make it works again.

please tell me how to fix this?

the scripts works like this
[code]

[2015-07-21 20:54] ignat980 commented on #80
I am also getting this error.
[code]
I am running the command within a swift context, and I have no idea how to change the language from swift inside the debugger. I think this is related to #74 and #68 .

[2015-07-28 13:45] dostrander commented on #102
@adad184 When you mean "debug first time" do you mean when you first start your debugging session it only works one time (ex: one breakpoint it works, the next it doesn't). Or it only works for one debugging session(the next time you push run it doesn't work) ?

[2015-07-28 13:50] adad184 commented on #102
it works only for one debugging session.  When i rerun the debugging session, it's failed.

[2015-07-28 21:22] ZevEisenberg opened #103 "Ability to visualize colors"
If I run `visualize someColor`, I get:

[code]

Chisel should generate a square or circular image of the color, optionally with some RGB/hex info included in the image, and open the image in Preview.

[2015-07-28 21:37] ZevEisenberg commented on #103
Reference: when you Quick Look a color in the variables list:

![screen shot 2015-07-28 at 5 34 19 pm](https://cloud.githubusercontent.com/assets/464574/8944490/f12eb8a8-354e-11e5-8101-cf0ae7fc603b.png)

[2015-08-01 21:43] kastiglione commented on #103
Nice. Can I interest you in trying a pull request :smile:

[2015-08-02 14:04] ZevEisenberg commented on #103
Definitely interested. I’ll put it on my list for my job’s semi-weekly hack days.

[2015-08-02 16:33] kastiglione commented on #103
Let me know if you have any questions, happy to answer anything.

[2015-08-03 17:38] ZevEisenberg commented on #103
@kastiglione would it be a faux pas to `expr @import CoreFoundation` in my command? I'm trying to have it be able to differentiate between `UIColor`, `CIColor`, and `CGColor` (and maybe `NSColor`?)

[2015-08-03 17:40] ZevEisenberg commented on #103
Specifically:

[code]

[2015-08-03 18:55] kastiglione commented on #103
Nah. In fact I think it would be great to do, `UIKit` too. Thinking aloud, I wonder if it could be done on the first time any breakpoint is hit. Then by using Chisel, you get these for free.

[2015-08-03 18:56] kastiglione commented on #103
Not to give you scope creep, feel free to put it in your command only. Someone can look to make it more general later.

[2015-08-03 19:09] ZevEisenberg commented on #103
I've seen it advised to always import UIKit on an exception breakpoint. I had put a UIKit import in my `~/.lldbinit`, but it seemed to slow down Xcode every time I started a debugging session. I'll try again some time.

Current question: here's an error I'm getting in lldb:

[code]

From a python line like this:

[code]

Seen anything like this?

[2015-08-03 19:16] ZevEisenberg commented on #103
Or, to simplify the question, what is the right way to call this in `lldb`?

[code]

[2015-08-03 21:23] kastiglione commented on #103
Cast the color to `void *`?

[2015-08-03 23:53] ZevEisenberg commented on #103
Nope:

[code]

(assuming that's what you meant?)

[2015-08-04 02:27] kastiglione commented on #103
I should have been clear:

[code]

[2015-08-04 02:31] kastiglione commented on #103
Yes that's what I meant. Hmm. Maybe one of:

[code]

[2015-08-04 02:32] kastiglione commented on #103
Oh, I'm curious why you're going from `UIColor` to `CGColor` to `UIColor`.

[2015-08-04 10:43] ZevEisenberg commented on #103
Just a simple test case to reproduce what I’m seeing in the script with a `CGColor`. I didn’t have a `CGColor` handy in an app, so I was making one from a `UIColor` in the debugger. If I can make a `CGColor` in code and reference it in the script and it works, I guess I will ignore this issue for now as an edge case. I’ll try that, and your suggestions.

[2015-08-04 12:54] ZevEisenberg commented on #103
None of the suggestions worked, but worse, the actual case I'm trying to use also doesn't work. If I'm on a breakpoint and I have a local variable, `cgColor`, of type `CGColorRef`:

[code]

So I can't use it in my script because it doesn't even work in the real debugger, at least not with the incantations I'm using.

[2015-08-04 13:35] ZevEisenberg commented on #103
It looks like this is maybe already done in chisel? Does this code work? https://github.com/facebook/chisel/blob/master/commands/FBAutoLayoutCommands.py#L44

[code]

[2015-08-04 13:41] ZevEisenberg commented on #103
@kastiglione alright, I got a workaround thanks to @jvisenti: http://stackoverflow.com/a/31810890/255489

I believe it's related to the UIColor going out of scope, and `-CGColor` returning an internal pointer:

[code]

PR should be in shortly :)

[2015-08-04 18:02] facebook-github-bot-3 commented on #15
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:02] facebook-github-bot-3 commented on #48
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:02] facebook-github-bot-3 commented on #54
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:02] facebook-github-bot-3 commented on #62
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:02] facebook-github-bot-3 commented on #74
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:02] facebook-github-bot-3 commented on #79
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:02] facebook-github-bot-3 commented on #80
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:02] facebook-github-bot-3 commented on #84
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:02] facebook-github-bot-3 commented on #91
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-06 03:58] kastiglione commented on #91
@DerekSelander Feel free to re-open and we can discuss any OS X issues further.

[2015-08-06 03:58] #91 closed

[2015-08-10 22:16] #103 closed

[2015-08-18 17:41] alireza commented on #80
Seems like the problem only occurs in Swift projects in which lldb expects swift commands.

Basically, in the python scripts commands sent to the debugger using lldb.debugger.HandleCommand are all in objc. They won't work when lldb debugger is in swift mode.

[2015-08-26 18:26] onmyway133 opened #106 "wivar not work"
In my ViewController, I have

[code]

And in LLDB
`wivar self _number`

I change that number, but the program does not pause. Use Xcode Debugger -> Right click on variable  -> Watch works

[2015-09-01 17:18] stkent commented on #80
Same issue and output as @ignat980 above.

[2015-09-02 10:17] schwarrrtz commented on #80
Same issue and output as @ignat980 and @stkent. Similar issues with flicker.

[2015-09-10 17:59] kastiglione opened #110 "Add pjson command"
@ilkera suggested we add a `pjson` command which would accept `NSArray` and `NSDictionary` and print their contents as JSON. It would also be good to accept an instance of `NSString` or `NSData` which represents URL encoded form data, and print that as JSON. The `pjson` command should also copy the results into the copy buffer as well.

[2015-09-12 05:49] kastiglione commented on #110
Resolved by #111.

[2015-09-12 05:49] #110 closed

[2015-09-29 21:34] kastiglione commented on #106
I missed this issue, sorry about that! I'll look into this.

[2015-09-29 21:37] kastiglione opened #115 "Add command to enable writing to const types"
@rohan-mehta seeded this idea. When a variable is `const`, lldb will respect that and prevent assignment to the variable. Perhaps we could add a chisel convenience command that does this for the user:

[code]

[2015-10-06 03:31] idrisr opened #116 "make all commands work with remote debug sessions"
Commands such as `visualize` and `border` do not work when connected to a process running on a remote machine and connected through the `gdb-remote` command through `lldb` on the client machine.

[2015-10-06 04:45] idrisr commented on #106
I can confirm this bug. Here is a simple app to quickly reproduce the issue: https://github.com/idrisr/wivarBug

[2015-10-11 18:59] idrisr commented on #106
I've submited this pull request to fix this issue: https://github.com/facebook/chisel/pull/117

[2015-10-12 01:19] kastiglione commented on #106
Fixed by #117

[2015-10-12 01:19] #106 closed

[2015-10-12 01:43] idrisr commented on #102
@adad184 are you still having this issue? Can you run `command script list` when `visualize` is no longer working? Also please post the contents of your `~/.lldbinit`.

[2015-10-12 01:48] adad184 commented on #102
it seems the issue was gone  after i upgrade my Xcode to release version.

my `~/.lldbinit` content is

[2015-10-12 01:51] idrisr commented on #115
Is that valid syntax? I get an error when running that...

[code]

[2015-10-12 01:57] idrisr commented on #101
@Gargo did you install using `brew`? Post your results from doing these commands in the terminal:

`ls /usr/local/Cellar/chisel/` and `cat ~/.lldbinit`

[2015-10-12 02:00] idrisr commented on #102
@adad184 . looks like this issue can be closed.

[2015-10-12 02:02] adad184 commented on #102
sure  :)

[2015-10-12 02:02] #102 closed

[2015-10-12 02:13] idrisr commented on #94
@jernejstrasner @nealsun can you please do a `brew info chisel` in the terminal and post your results.

[2015-10-12 02:43] idrisr commented on #48
Seems to me the best way to do this is to use something like [Sphinx](http://sphinx-doc.org/index.html) to autogenerate documentation from the code and then require all functions have sufficient documentation within the code. Ideas / comments?

[2015-10-12 02:59] idrisr opened #118 "New Release?"
What are the plans for doing a new release? there's been 50+ commits since 1.2 and some bug fixes so it seems we should do one soon.

[2015-10-12 04:32] kastiglione commented on #118
Done! https://github.com/facebook/chisel/releases/tag/1.3.0

I'll open a pull request to update homebrew.

[2015-10-12 04:40] kastiglione commented on #115
`constVariable` refers to the variable that is `const`, that you want to edit. For example, given this definition:

[code]

If you wanted to reassign `iconWidth` in lldb, you could use the above statement, except with `iconWidth` instead of `constVariable`. Note however, we tried this with x86, but not x86-64, or on arm.

[2015-10-12 04:45] kastiglione commented on #118
https://github.com/Homebrew/homebrew/pull/44839

[2015-10-12 04:51] idrisr commented on #54
I believe @KingOfBrian is correct and it should be base 10. Created this pull request: https://github.com/facebook/chisel/pull/119.

[2015-10-12 04:56] idrisr commented on #118
great, thanks!

[2015-10-12 04:56] #118 closed

[2015-10-12 05:02] kastiglione commented on #118
:cake:

[2015-10-12 18:40] theonepa1 commented on #80
```self``` is of type ```UICollectionViewController```. Ran mask and got following error.

```(lldb) mask self.view```
error: error: use of undeclared identifier 'self'
error: 1 errors parsing expression
Traceback (most recent call last):
  File "/usr/local/opt/chisel/libexec/fblldb.py", line 81, in runCommand
    command.run(args, options)
  File "/usr/local/Cellar/chisel/1.2.0/libexec/commands/F

[2015-10-13 19:32] dostrander opened #120 "add parameter to take window or window level for pvc"
`pvc` only works in the key window. You should be able to specify the window or window level that you want to perform pvc on incase the problem view controller is on another window.

[2015-10-22 08:01] webdevotion commented on #80
@ultramiraculous, from what I saw in #121 you expected this ticket to be resolved as wel.
Today I still get an error when running for example `mask self.view` in `lldb`.
Got rid of my Homebrew install and using a clone from the main branch.

[code]

[2015-10-29 19:48] ZevEisenberg opened #123 "Print NSData as text"
I often get `NSData` representing UTF-8-encoded strings back from APIs. What I want essentially comes down to a shortcut for:

[code]

But it would need to coexist with the existing feature to print `NSData` representing an image. It might also be nice to have an option to copy the resulting text to the clipboard, or open it in `$EDITOR` or maybe even a configurable app (e.g. TextMate or CocoaJSON

[2015-10-30 10:14] mmmulani commented on #123
I would stick to UTF-8, IMO the other encoding don't really matter.

I like the idea of copying to clipboard, opening in editor, etc. but maybe have that as a separate command, so you could chain them like:

$12 = @"..."

<$12 is now on the clipboard>

<open $EDITOR with $12>

[2015-10-31 13:28] kastiglione commented on #123
We have a `pdata` added by @bartoszj in #83.

[2015-10-31 15:05] ZevEisenberg commented on #123
Cool, that looks like exactly what I was hoping for.

[2015-10-31 15:05] #123 closed

[2015-10-31 15:59] kastiglione commented on #123
Thanks for submitting ideas! Keep em coming :sparkler:

[2015-11-01 00:26] dxclancy opened #124 "AppCode compatibility?"
Is this intended to work/already works in AppCode?

I've installed as per the instructions and have chisel commands (pviews, visualize, etc...) working in Xcode.

Issuing "help" in lldb within AppCode displays the chisel commands.  However, I don't see any results in AppCode from issuing commands (pviews, visualize, etc...) .  Other non-chisel commands, even 3rd party additions, work.

I generally

[2015-11-01 03:52] kastiglione commented on #124
This sounds familiar to #12. I wonder if those underlying issues were resolved, and if so if there's been any regressions.

[2015-11-02 03:25] dxclancy commented on #124
I did see #12 before commenting but it wasn't clear to me whether #12 only effects printouts?  For instance, <visualize> does not launch theUIImage into preview for me either.

[2015-11-02 05:37] kastiglione commented on #124
Good point, sorry I was too quick to answer. In the past I used AppCode a bit, but not lately. Have you filed a ticket with JetBrains?

[2015-11-02 05:39] kastiglione commented on #124
To answer your first sentence, Chisel isn't intended to be Xcode only, and so should work in AppCode. However I'm not aware of any contributors who use AppCode, so I'd have to unfortunately call AppCode unsupported.

[2015-11-03 10:12] jernejstrasner commented on #94
@idrisr sorry for the late reply, but this does not happen anymore in the latest version.

[2015-11-03 18:16] kastiglione commented on #94
Thanks everyone!

[2015-11-03 18:16] #94 closed

[2015-11-04 14:11] anbarasu0504 opened #127 "Where to create .lldbinit file"
Its specified in the documentation as

**Alternatively, download chisel and add the following line to your ~/.lldbinit file. If it doesn't exist, create it.**

I really don't know where to locate this .lldbinit file.

I downloaded .lldbinit file and placed it in my project folder like .gitignore but it dint work.

Sorry for this newbie question, but I really done know where to locate this or creat

[2015-11-04 16:18] idrisr commented on #127
We're all newbs once, not an issue.

`~/` refers to your home directory. You can put your `.lldbinit` in other places, but then Xcode won't automatically load it. If you put it somewhere other than `~/.lldbinit`, you need to source it in Xcode in the LLDB session like this:

`(lldb) command source <mypath>/.llbinit`

where `<mypath>` is replaced by the path of your `.lldbinit`

[2015-11-05 11:30] anbarasu0504 commented on #127
Thanks a lot :)  got it working :+1:

[2015-11-05 19:39] kastiglione commented on #127
Thanks @idrisr

[2015-11-05 19:39] #127 closed

[2015-11-14 17:10] tracicot commented on #80
I'm seeing the same issues. Executing `show view` results in:
`error: <EXPR>:1:19: error: expected ',' separator
(void)[scrollView setHidden:0]
                  ^
                 ,
error: <EXPR>:1:22: error: expected ',' separator
(void)[CATransaction flush]
                     ^
                    ,`

[2015-12-25 02:24] lianchengjiang opened #130 "short option can't works well in command 'fvc'"
full option can works well, bug if i use short option, it show nothing.

(lldb) fvc -n=viewcontroller
(lldb) fvc --name=viewcontroller
0x7fd01a90f310 ViewController

[2016-01-04 07:00] albertstartup commented on #80
Using show and hide work when using clone from main branch. Try cloning the latest version @tracicot
mask still produces same error as @webdevotion

[2016-01-04 22:49] mattreagan29 opened #134 "presponder is listed in README as supported on OS X, but fails due to UIResponder reference"
`presponder` is listed in the README as supported on OS X but using on OS X throws an error related to its reference to UIResponder in FBPrintCommands.py

Ex:

[code]

Note: Merely changing or removing the UIResponder reference in `FBPrintCommands.py` allows the `presponder` call to work as expected

[2016-01-05 00:34] kastiglione commented on #134
Thanks! Sounds like an easy fix. Pull requests happily accepted 😄

[2016-01-05 21:52] #134 closed

[2016-01-05 21:53] kastiglione commented on #134
Fixed by @kolinkrewinkel in #135.

[2016-02-18 19:31] kastiglione opened #138 "2016: Command to list all objects of a specific class"
Using #136, we can make a command that will print instances of classes. For example:

[code]

[2016-02-18 19:34] kastiglione opened #139 "2016: Command to list objects that reference a specific object"
Using #136, scan the objects in memory and filter those that have a references (of any kind, strong, weak or unsafe) to a given object.

[code]

[2016-03-03 03:57] weqeo opened #144 "I can't find .lldbinit file,somebody help me ?"

[2016-03-03 05:11] kastiglione commented on #144
What happens when you run these commands?

`ls ~/.lldbinit`

`mdfind -name .lldbinit`

[2016-03-08 01:35] weqeo commented on #144
thanks，i haven't .lldbinit file,so i touch oen.It's fine now.

[2016-03-08 01:40] kastiglione commented on #144
:+1:

[2016-03-08 01:40] #144 closed

[2016-03-08 04:40] Adlai-Holler opened #145 "[Feature Request] Support for Finding AsyncDisplayKit Nodes"
https://github.com/facebook/AsyncDisplayKit is an incredible framework, and any non-trivial app would benefit from using it. Would it be possible to add a `fnode` or equivalent that finds the view (layer, even?!) that hosts a node of a given class?

I know ASDK code pretty well, so I can help if needed with the actual "find the node in the view hierarchy" code.

[2016-03-08 06:19] kastiglione commented on #145
Sounds doable. Does it require traversing the view tree, or is there any "index" from nose to host?

[2016-03-09 20:08] Adlai-Holler commented on #145
Sweet, thanks for offering to help with this!

You've actually got to traverse the layer tree. Some nodes are backed by UIViews and others by raw CALayers. There's a private `-[CALayer asyncdisplaykit_node]` method to get the associated node, if any, for a layer. In Swift, I can't call that method from lldb since it's private =( we could use `valueForKey:"asyncdisplaykit_node"` which would work fr

[2016-03-11 18:05] kastiglione commented on #145
What do you think about adding private methods in ASDK for Chisel to call? We could do it all via Python/lldb, but the benefits to having the heavy lifting done by the library are:

1. The command will run faster
2. If there are breaking changes to internals, the support code will get updated with it
3. The code can optionally be tested

Where available, Chisel will call available private debuggin

[2016-03-11 20:24] Adlai-Holler commented on #145
There exists a function:

[code]

which is perfect except that it requires a start node, which we don't have. The more general version of that function:

[code]

accepts a layer or a node, so we could call that with e.g. the layer of the key window, right? Those functions have been around for a long time, so if they're sufficient then no. 1 is the way to go.

@appleguy Thoughts?

[2016-03-14 06:10] appleguy commented on #145
I recently learned that ASDisplayNodeExtras.h is _technically_ public, which wasn't really intended...lol.  It contains the needed functionality, such as:

/**
 Given a layer, returns the associated display node, if any.
 */
extern ASDisplayNode * _Nullable ASLayerToDisplayNode(CALayer * _Nullable layer);

/**
 Given a view, returns the associated display node, if any.
 */
extern ASDisplayNode * _

[2016-03-17 02:44] cuong1112035 opened #148 "chisel does not work with swift"
I try chisel but it only work with objective-c project. when trying with swift project I got some error like this
border self.view
error: error: use of undeclared identifier 'self'
error: 1 errors parsing expression
Traceback (most recent call last):
  File "/usr/local/opt/chisel/libexec/fblldb.py", line 79, in runCommand
    command.run(args, options)
  File "/usr/local/Cellar/chisel/1.4.0/libexe

[2016-03-23 08:13] syjiangrui opened #149 "Chisel issue on Xcode 7.3"
Xcode 7.3 and iOS 9.3 simulator.
OS:OSX 10.11.4
pviews and presponder doesn't work and no output.
pvc works well.

[2016-03-23 23:30] kastiglione commented on #149
Thanks for the report. I will look into this in a couple days.

[2016-03-24 03:34] Jowyer commented on #149
`pjson` does not work either

[2016-03-28 08:14] nickjackson2011 commented on #149
the same problem, import module failed.
waiting for resolving~

[2016-03-28 18:33] ppaulojr commented on #149
Same problem here. Many commands like pviews, wivar don't display any text.

[2016-03-28 20:23] kastiglione commented on #149
Thanks for everyone weighing in. This is on my list to investigate, I'll try to get to it as soon as I can!

[2016-03-29 04:34] kastiglione commented on #149
Looks like the commands are being run, but the results aren't being printed. I'll look into how stdout is configured.

[2016-03-29 04:42] kastiglione commented on #149
On my machine, when I run lldb's built-in `script` command with no arguments, the interactive interpreter is broken in Xcode 7.3. Can anyone confirm this? With previous versions of Xcode, running `script` would give this output:

[code]

and python code could be evaluated from the `>>>` prompt. But this doesn't work for me with Xcode 7.3.

[2016-03-29 05:17] SourceChang commented on #149
![7 2 1](https://cloud.githubusercontent.com/assets/15812732/14098593/3b4c7750-f5b0-11e5-8f62-7c4871b89ec3.png)
![7 3](https://cloud.githubusercontent.com/assets/15812732/14098594/3d7e8d42-f5b0-11e5-9700-c5a7b46ff094.png)

Xcode 7.2.1 was still work
hope this can help you

[2016-03-29 08:40] syjiangrui commented on #149
The built-in `script` command doesn't work in my Xcode 7.3 either. @kastiglione

[2016-03-29 14:39] kastiglione commented on #149
Thanks, @syjiangrui. I'll dive a little deeper to see if there's a workaround. I'll file a radar too.

[2016-03-29 17:15] kastiglione commented on #149
I filed a radar for this, number 25415928 (rdar://25415928).

[2016-03-30 20:43] bcattle commented on #149
In the meantime a workaround is to run `po [[[UIApplication sharedApplication] keyWindow] recursiveDescription]` from the debugger

[2016-03-31 09:35] Dzionis commented on #149
`pcurl` does not work either

[2016-04-01 09:56] palcalde commented on #149
Inside Resolved Issue of Xcode 7.3 release, they mention an issue with Python that was resolved. Weird.

https://developer.apple.com/library/ios/releasenotes/DeveloperTools/RN-Xcode/Chapters/xc7_release_notes.html#//apple_ref/doc/uid/TP40001051-CH5-SW1

![image](https://cloud.githubusercontent.com/assets/1252619/14203848/9a5f0cb0-f800-11e5-8414-4691c2593289.png)

[2016-04-01 13:55] kastiglione commented on #149
Thanks for the link. The Known Issues section confirms my hypothesis:

I'm amazed they knowingly shipped this.

[2016-04-02 05:59] EdgarHz commented on #149
mac os version 10.11.3
xcode version 7.3(7d175)
pviews print nothing.

I use: **print >> result, description**   replaced: **print  description**  then **pviews -d 3** is ok
I'm newly to lldb and python, I hope I can take some help for you.

just like this:
[code]

[2016-04-07 15:59] sunbohong commented on #149
https://github.com/sunbohong/chisel
临时解决方案。
a temporary situation。

[2016-04-09 13:54] qsw1214 commented on #149
@sunbohong  not work

[2016-04-10 06:45] sunbohong commented on #149
@qsw1214  i only changed the `pviews`.Maybe you should uninstall your old chisel.

[2016-04-20 16:04] palcalde commented on #149
@kastiglione I've tested today with new seed Xcode 7.3.1 beta, and, even tho they mention they have fixed the Python Interpreter.. it doesn't work.
![image](https://cloud.githubusercontent.com/assets/1252619/14681643/4d3bdd56-0722-11e6-805b-833c755355fa.png)

[2016-04-20 16:14] kastiglione commented on #149
thanks @palcalde! I just came here to say the release notes say that the issue was fixed, but I haven't tried yet, glad we have confirmation.

## tl;dr Upgrade to Xcode 7.3.1

[2016-04-20 16:14] #149 closed

[2016-04-20 20:50] bcattle commented on #149
Didn't he say it "didn't work"?

On Wednesday, April 20, 2016, Dave Lee <notifications@github.com
<javascript:_e(%7B%7D,'cvml','notifications@github.com');>> wrote:

[2016-04-20 20:56] yas375 commented on #149
I also was confused by same thing today when I received email notifications from Github. But turns our @palcalde had edited his comment on GitHub to an opposite.

![2016-04-20_1352](https://cloud.githubusercontent.com/assets/217368/14690115/584913f8-06ff-11e6-8b5a-fbb2e75a9c55.png)

[2016-04-20 20:57] bcattle commented on #149
Oh hahahahaha I'm sorry. That's funny. Sorry to waste your time and thanks
for the explanation. 👍

On Wednesday, April 20, 2016, Victor Ilyukevich <notifications@github.com>
wrote:

[2016-04-20 21:59] palcalde commented on #149
Sorry guys you are correct! At the beginning I thought it wasn't working but I relized it was me messing up the different Xcode versions I have installed. Then I edited the message. It works! :)

[2016-04-23 16:29] kenny1269 opened #151 "Command pviews doesn't work in Xcode 7.3"
i just install chisel, i try other commands like pvc work fine, but pviews doesn't work, nothing print and nothing running...can someone help?

[2016-04-23 20:01] khramtsoff commented on #151
https://github.com/facebook/chisel/issues/149
Fixed in Xcode 7.3.1

[2016-04-25 02:37] kastiglione commented on #151
Thanks for the report @kenny1269. As @khramtsoff pointed to, the problem (which is an Xcode bug) is fixed in 7.3.1.

[2016-04-25 02:37] #151 closed

[2016-04-29 06:20] Ambtion opened #153 "chisel pview did not print anything"
I use chisel(1.4) ,pviews a view ,and it did not print anything

[2016-04-29 16:52] kastiglione commented on #153
Which version of Xcode are you using?

[2016-05-02 04:56] esam091 commented on #153
The same happens to me, using Xcode 7.3.

[2016-05-02 20:49] alanzeino commented on #148
There are some specific swift commands. Type `help` into LLDB and you'll see them:

[code]

[2016-05-02 20:50] alanzeino commented on #153
#149

[2016-05-04 16:56] kastiglione commented on #153
@Ambtion @esam091 There was a bug with Xcode 7.3 that caused these output issues. The bug is fixed in Xcode 7.3.1, which came out yesterday.

[2016-05-04 16:56] #153 closed

[2016-05-04 22:12] kastiglione commented on #148
@cuong1112035 in #121 support was added to ensure chisel evaluates code correctly regardless of whether code is objc or swift. If you have any troubles, please let us know, thanks.

[2016-05-04 22:12] #148 closed

[2016-05-04 22:14] kastiglione commented on #145
@Adlai-Holler @appleguy I lost track of this one, sorry about that. Is this still something you're interested in? If yes, has any of the technical details changed in the last couple months?

[2016-05-05 00:45] kastiglione commented on #124
@dxclancy I'm going to close this because I don't use AppCode and don't have the time to investigate this. I am curious to hear more if you have any updates. Hopefully any issues can be resolved by the folks at JetBrains.

[2016-05-05 00:46] kastiglione commented on #101
Closing due to inactivity.

[2016-05-05 00:46] #101 closed

[2016-05-05 00:46] kastiglione commented on #74
Fixed by #121.

[2016-05-05 00:46] #74 closed

[2016-05-05 04:01] kastiglione commented on #130
@lianchengjiang Very sorry for the late reply. The short option expects a space, not an equal sign, before the argument.

For example:

[code]

[2016-05-05 04:01] #130 closed

[2016-05-05 07:09] lianchengjiang commented on #130
ok, thank you for your reply

[2016-05-05 22:54] dxclancy commented on #124
Here is the [JetBrains AppCode issue](https://youtrack.jetbrains.com/issue/OC-9356)

[2016-05-06 00:46] kastiglione commented on #124
Thanks for the update @dxclancy. I'll follow up with something to see whether it's running or not, or if it's just an output issue.

[2016-05-06 18:38] kastiglione commented on #124
@dxclancy You can turn on lldb logging to observe what actions are, or are not, taking place when you run chisel commands. The base command is `log enable lldb <category>`, and some categories that are applicable here are `api`, `commands`, and `script`. So for example try:

[code]

then run some chisel commands, like `visualize`.

[2016-05-07 00:35] dxclancy commented on #124
`(lldb) log enable lldb api commands script`
has no visual effect in AppCode, whereas when I do it in Xcode I get a spew of logging.

[2016-05-07 00:39] dxclancy commented on #124
btw, just as a datapoint, I also have a [quick look command ](https://github.com/ryanolsonk/LLDB-QuickLook)  which is a python script and it does run in AppCode.

[2016-05-07 05:25] kastiglione opened #156 "Default argument values aren't language agnostic"
Using an example to demonstrate the issue:

The `paltrace` command has a default view of `(id)[[UIApplication sharedApplication] keyWindow]`. But it could be called while stopped in some swift code, in which case the user would expect to be able to run `paltrace someValidSwiftExpression`. Currently this would fail.

[2016-05-09 06:24] EI3ven opened #157 "script: /usr/local/Cellar/chisel/1.4.0/libexec/fblldb.py: Permission denied"
1，brew install chisel
2，echo  command script import /usr/local/Cellar/chisel/1.4.0/libexec/fblldb.py >> ~/.lldbinit
3，source ~/.lldbinit
Script started, output file is import
script: /usr/local/Cellar/chisel/1.4.0/libexec/fblldb.py: Permission denied

[2016-05-09 07:49] kastiglione commented on #157
Thanks for the report. I haven't seen this before. Can you run:

[code]

and paste the results here?

Have you tried running `brew doctor`?

[2016-05-09 07:51] kastiglione commented on #157
Oh, I just re-read your steps, and see that step 3 is probably your problem.

[code]

You don't want/need to do this. The `.lldbinit` file is for lldb, not for your shell.

[2016-05-09 08:02] EI3ven commented on #157
$ brew doctor
Please note that these warnings are just used to help the Homebrew maintainers
with debugging if you file an issue. If everything you use Homebrew for is
working fine: please don't worry and just ignore them. Thanks!

Warning: Your Xcode (7.3) is outdated
Please update to Xcode 7.3.1.
Xcode can be updated from the App Store.

ls -l /usr/local/Cellar/chisel/1.4.0/libexec/fblldb.py
-rw

[2016-05-09 08:06] kastiglione commented on #157
I'm not sure what you mean by "not have a log"

[2016-05-09 08:17] EI3ven commented on #157
(lldb) pviews
(lldb)

[2016-05-09 08:17] EI3ven commented on #157
(lldb) pviews
(lldb)

[2016-05-09 14:11] kastiglione commented on #157
Are you using Xcode 7.3? It shipped with a known bug that prevented output of python commands. Upgrade to 7.3.1 to get a working Xcode.

[2016-05-09 20:12] kastiglione opened #158 "Use aliases where sensible"
Some chisel commands can be implemented using `command alias`. I think it would be good to add support for bundling aliases with chisel, and loading those aliases along with the python commands. It should be straight forward to call `command source <file>`. The benefit is that it makes it clear which commands have simpler semantics, and hopefully would be easy to contribute to compared to a python

[2016-05-10 05:27] EI3ven commented on #157
OK ,THX

[2016-05-10 05:27] #157 closed

[2016-05-10 18:39] kastiglione commented on #124
This sounds like a bug. I wonder if the lack of output for the logs has anything to do with the lack of output for chisel commands.

[2016-05-10 19:01] kastiglione commented on #124
Thanks! I wonder if chisel should stop using `print` directly. Chisel's commands call `print` liberally all over the place, and none of the commands use the `result` argument supplied by lldb when invoking the python entry point. However, this doesn't really explain why `visualize` doesn't work.

[2016-05-11 17:28] kastiglione commented on #124
If anyone wants to help debug this, here's a gist that has two simple commands `stdio_print` and `result_print`: https://gist.github.com/kastiglione/c5a27e39f1dda34cce4f17c6545b59c6

If both commands successfully print inside AppCode, I can probably come up with another test or two.

[2016-05-12 01:57] dxclancy commented on #124
Looks like stdio_print doesn't work in AppCode.
[code]

[2016-05-12 03:51] kastiglione commented on #124
Which version of Xcode? In Xcode 7.3.0, stdio in python scripts was broken, but it's fixed in 7.3.1.

In any case, it seems we know at least one major reason why chisel commands don't work in AppCode. And it's fixable on our end even if JetBrains can't prioritize the problem. Maybe they just need to be let known exactly what the issue is, maybe it's a simple fix.

[2016-05-13 13:49] OdNairy opened #159 "CIImage should work on visualize command"
There are no way to visualize CIImage by chisel but it exists in xcode by quicklook command. Can we add this, please?

[2016-05-13 17:04] kastiglione commented on #159
Yeah seems like an obvious addition 👍.

Would you be interested giving it a shot?

[2016-05-16 05:48] Ambtion commented on #149
I use xcode 7.3 (7d)，and pviews print nothing

[2016-05-16 05:51] Ambtion opened #160 "pviews print nothing"
xcode7.3(7d), and chisel is 1.4.0 , when debug ,pviews print nothind

[2016-05-16 05:53] #160 closed

[2016-05-16 07:46] Ambtion commented on #153
I up xcode to 7.3.1, and it ok,thanks

[2016-06-01 07:31] cysgit opened #161 "slowanim cannot work"
it always returns error when i use slowanim.
like below
[code]
why?
Should I put the breakpoint during an animation? Actually, I have tried that and got the same error.
Also, I tried

[code]
got the same error.

Could anyone tell me what can I do?

[2016-06-01 17:18] kastiglione commented on #161
Thanks for the report. I'll investigate.

[2016-06-26 21:17] jasonmay opened #162 "fb.EvaluateExpression returning NoneType"
Using the master branch, I am working on a custom command for printing out ANSI sequences of a grid.

The very first step is to try to evaluate an expression, any expression, just to get started. I'm following what the other commands do, and I it complains that there is no value. This happens with anything I put in as an expression, a string, a regular variable, etc.

I also think this is why none

[2016-06-26 21:20] jasonmay commented on #162
side note, how do I get stdout (`print`, `pprint` statements, etc.) to show up in the Xcode console? I can only see if it I run `lldb` from a terminal but I can't really test this from a context-less lldb shell.

[2016-06-29 18:36] deepumukundan opened #163 "Issue visualizing swift views"
I am getting the below error when trying to visualize views in swift code. Been having similar issues with swift code for a longer time now.

error: error: use of undeclared identifier 'titleView'
error: 1 errors parsing expression
Traceback (most recent call last):
  File "/usr/local/opt/chisel/libexec/fblldb.py", line 79, in runCommand
    command.run(args, options)
  File "/usr/local/Cellar/chi

[2016-06-30 17:44] kastiglione commented on #163
Thanks for the report. I think the problem you're hitting might be fixed in `master`. If it's not fixed in `master`, I should definitely make sure to fix it. Are you willing to try installing `master` and reporting back?

[2016-06-30 17:44] kastiglione commented on #162
Which version of Xcode are you using?

[2016-06-30 17:55] kastiglione commented on #162
There's a known bug in Xcode 7.3 (mentioned in the release notes) that python I/O is broken. This might be one of the problems you're bumping up against.

Further, Chisel is definitely less mature in terms of Swift support, which you're using here. Chisel needs to get better in this regard, and I haven't been doing any Swift work myself so I'm happy to get feedback on Swift issues.

Recently I mad

[2016-06-30 19:57] deepumukundan commented on #163
Sure. I just got master (so I was using brew to install chisel, so I went inside /usr/local/opt/chisel and replaced the contents inside libexec folder with the ones I got from master). The error seemed to have changed now (atleast the last part of it). Does the below help?

(lldb) visualize view
Traceback (most recent call last):
  File "/usr/local/opt/chisel/libexec/fblldb.py", line 83, in runCom

[2016-06-30 20:11] kastiglione commented on #163
This is saying it can't find the function `evaluateEffect`, which could be a result of how you "replaced the contents".

Using Chisel straight from git is fairly straight forward. This would eliminate any homebrew issues.

Steps:

1. Clone the chisel repo (`git clone https://github.com/facebook/chisel.git`)
2. Edit your `~/.lldbinit` to include this line: `command script import ~/path/to/chisel/fb

[2016-06-30 20:43] deepumukundan commented on #163
Thanks @kastiglione That fixed the problem. Much appreciated!

I should have just used the clone I downloaded in the first place. I was trying to not edit my .lldbinit which I push to github shared between my machines.

[2016-06-30 20:43] #163 closed

[2016-06-30 20:45] kastiglione commented on #163
Glad it's working!

[2016-07-01 06:20] jasonmay commented on #162
I am using Xcode 7.3, so I'm sure that is the issue.

I will certainly play around with Swift in mind, at least with some modules made from scratch, learning my way as I go. Once I learn where things diverge, I will happily provide feedback in the form of PRs.

I discovered that the frame could retrieve `grid` but not `grid[0]` which I _think_ are both valid in Swift and ObjC++ but I could be wron

[2016-07-01 10:32] wmfgithub opened #164 "why my command pjson is not work others is ok?"
pjson dic
error: error: cannot initialize a parameter of type 'NSData * _Nonnull' with an rvalue of type 'long'
note: passing argument to parameter 'data' here
error: 1 errors parsing expression
None

[2016-07-15 10:16] tripleCC opened #165 "using comman 'pjson' to print a NSDictionary unsuccessfully"
My code is below:
` NSDictionary *dict = @{@"key" : @"value"};   `
   ` (void)dict;`
I make a break at line 2.  And then I input 'pjson dict' to xcode debug area.
The error was printed:

`error: error: cannot initialize a parameter of type 'NSData * _Nonnull' with an rvalue of type 'long'
note: passing argument to parameter 'data' here
error: 1 errors parsing expression
None`

[2016-07-15 17:14] kastiglione commented on #165
Thanks for the report.

Can you try the changes in pull request #166? You can do this by cloning the `pjson-types` branch like so:

[code]

Then edit your `~/.lldbinit` to use the path of where you checked out the `psjon-types` branch.

[2016-07-20 06:48] #165 closed

[2016-07-20 06:49] kastiglione commented on #165
Thanks again for submitting this issue. This problem should be fixed in master now.

[2016-07-20 06:50] kastiglione commented on #164
Thanks for submitting this issue @wmfgithub. I think this problem has been fixed in master. You could try using Chisel via a git checkout, and check that `pjson` has been fixed.

[2016-07-20 06:50] #164 closed

[2016-07-20 06:53] kastiglione commented on #161
@cysgit Do you recall whether you ran `slowanim` from a Swift project?

[2016-07-20 08:56] tripleCC commented on #165
Nice job! And when I can install the fixed version of chisel  from brew?

[2016-07-20 18:50] kastiglione commented on #165
There's no set schedule for brew updates. I should probably update the chisel formula to allow installing from master. I'll see about doing a brew update sooner than later.

[2016-07-24 09:00] H0icky commented on #163
When I try to visualize a UIImage.I get the error mention above.
I had already used the latest chisel. But it still get the error

error: error: use of undeclared identifier 'CFTypeRef'
...
AttributeError: 'NoneType' object has no attribute 'replace'

[2016-07-25 12:47] Ashton-W commented on #165
https://github.com/Homebrew/homebrew-core/pull/3292

[2016-07-25 18:09] kastiglione commented on #165
@Ashton-W nice!

[2016-08-26 12:21] Cellane commented on #161
Not the original poster but I observed this error even in a project that didn't have a single line of Swift code in it – nor in CocoaPods' dependencies.

[2016-08-26 17:24] kastiglione commented on #161
Thanks @Cellane, I'll look into this now.

[2016-08-26 17:33] kastiglione commented on #161
@Cellane how is your Chisel installed? which version are you using? I just tried with a recent checkout and I can't reproduce this error.

[2016-08-26 18:41] Cellane commented on #161
Unfortunately I'm not at my work computer anymore, but I have Chisel installed by Homebrew and I run `brew update` and `brew upgrade` fairly regularly, so I'd assume I have a fairly recent one – but I'll check in detail on Monday and if I'll still experience the issue, I'll try to produce a sample project (not sure if it'll help anything, but it can't harm either, right?)

[2016-08-26 18:55] kastiglione commented on #161
Thanks for the details! Chisel is due for a new release and related homebrew update, so I will do that, and then when you upgrade, can you report back here if the problem has been fixed? If it's not fixed up a new release, then we can try a sample project.

[2016-08-29 18:24] kastiglione commented on #161
https://github.com/Homebrew/homebrew-core/pull/4336

[2016-08-30 09:01] Cellane commented on #161
Updated to 1.5.0 and… actually having more issues than before I'm afraid. This is the new output of `slowanim`:

    (lldb) slowanim
    error: 'eobjc' is not a valid command.
    error: Unrecognized command 'eobjc'.

But other commands are now having issues as well:

    (lldb) border self.deviceNameTextField
    Traceback (most recent call last):
      File "/usr/local/opt/chisel/libexec/fblldb.

[2016-08-30 09:04] Cellane commented on #161
Ouch, never mind! Restarting Xcode fixed everything, apologies! `slowanim` now seems to be working just fine, along with all the other commands!

[2016-08-30 14:01] kastiglione commented on #161
Thanks! Glad it's working.

[2016-08-30 14:01] #161 closed

[2016-08-30 19:27] joshavant opened #169 "Chisel improperly recognizing convenience vars"
**Chisel version:** 1.5.0
**LLDB version:** lldb-360.1.38
**Xcode version:** 8b5

**Reproduction:**

0: Have a `Main.storyboard` file in the main bundle, with a view controller w/ identifier `viewController`.

1:

[code]

I believe Chisel should be properly interpreting the convenience var `$avc` here, but seems not to. Any ideas if this is a problem with the user or the framework?

Related: #150

[2016-08-30 19:34] joshavant commented on #169
Sidenote to those who may find this bug in the future:
It appears sticking to Objective-C syntax here will cause things to work as expected:
[code]

[2016-08-30 20:18] alanzeino commented on #169
Ah, Swift. When I wrote the dismiss and present, I only tested using Objective-C.

[2016-08-30 20:18] kastiglione commented on #169
I wonder if variable definitions are bound to a language? It's not unreasonable to think that the `$avc` defined in Swift is not available when evaluating with objc, since not all Swift types and semantics translate into objc.

[2016-08-31 17:27] kastiglione commented on #80
I think this be closed now. Swift interop has been improved, and we can create new issues for specific issues as they arise.

[2016-08-31 17:27] #80 closed

[2016-08-31 17:30] kastiglione commented on #162
It seems like this issue can be closed, but that's not the case and there's more to discuss, please re-open it.

[2016-08-31 17:30] #162 closed

[2016-09-28 22:36] ZevEisenberg opened #170 "Visualize command gives error: use of undeclared identifier 'CFTypeRef'"
This may be related to https://github.com/facebook/chisel/issues/163

When I run `vi label` were `label` is some `UILabel`, I'm getting this:

[code]

Here's a screenshot. As you can see, `label` is a `UILabel` that is currently in scope.

![screen shot 2016-09-28 at 6 28 25 pm](https://cloud.githubusercontent.com/assets/464574/18934827/29fe0a06-85aa-11e6-81c5-7e32752a7ecc.png)

I tried with both

[2016-09-28 23:01] kastiglione commented on #170
Thanks for the report! If you're able to try out the `fix-visualize-in-swft` branch (from #171), that would be great. I haven't actually tried it, so it's only a hypothesis at this point.

[2016-09-28 23:44] kastiglione commented on #163
@H0icky I missed your comment. I'm trying to fix the issue in #171.

[2016-09-29 00:50] ZevEisenberg commented on #170
Sadly, I don't think it worked:

[code]

[2016-09-29 04:19] kastiglione commented on #170
Thanks. I'll try out your sample project.

[2016-09-29 04:52] kastiglione commented on #170
There is a chain of errors. I fixed a couple, but I hit a second type related error and so I'm going to stop and think. The two type reference errors are `CFTypeRef`, and `CGRect`. For `CFTypeRef`, I replaced it with `void *`, but there isn't a generic replacement for `CGRect`. I'm going to try to figure out why these types (and presumably others) aren't available when having lldb evaluate objc ex

[2016-09-29 15:07] ZevEisenberg commented on #170
Any chance it's something like having to call `expr import CoreGraphics`?

[2016-09-29 16:59] kastiglione commented on #170
Thank it is possible that Chisel needs to do that. It will probably have to be `expr @import CoreGraphics` since Chisel commands generate objc. If this does work, I guess we'll need some central location to manage and execute the imports, on behalf of commands.

[2016-10-03 07:37] H0icky commented on #163
OK, I think they are the similar problem.

[2016-11-19 04:38] choungchamnab opened #174 "Import Error"
When I'm trying to import fblldb.py, I got this error :

  File "/usr/local/opt/chisel/libexec/fblldb.py", line 10, in <module>
    import lldb
ImportError: No module named lldb

[2016-11-19 22:24] kastiglione commented on #174
Can you paste the output from running these commands *from the lldb prompt*:

[code]

[code]

[2016-12-01 17:26] gorozco58 opened #177 "Visualize doesn't work in Swift"
Visualize is only working in objective-c when you try to visualize something in Swift you get the next error:

`
(lldb) visualize image

error: error: use of undeclared identifier 'image'
error: 1 errors parsing expression
Traceback (most recent call last):
  File "/usr/local/opt/chisel/libexec/fblldb.py", line 83, in runCommand
    command.run(args, options)
  File "/usr/local/Cellar/chisel/1.5.0

[2016-12-01 21:39] kastiglione commented on #177
Thanks for the report. I think I know the cause and will try to get a fix soon.

[2016-12-23 03:56] Ashton-W opened #180 "pproperties command needs ObjC runtime"
1.5.0

Was trying to use `pproperties`:

[code]

After importing the ObjectiveC runtime:

[code]

Not sure what else is wrong, but shouldn't `pproperties` import the runtime if it uses it?

[2017-01-10 01:34] shengyangyu commented on #174
thank you,I'm try to @kastiglione solve the error.

[2017-01-14 00:45] DerekSelander commented on #156
Another (partial) possibility to add to the table:

SBFunction has the GetLanguage() method. You can figure out which context you are from there.
Easy way to test: Break in a swift method:
[code]
Breaking out of the blue gives you `lldb.eLanguageTypeUnknown` and of course there is `lldb.eLanguageTypeObjC`

[2017-01-26 20:02] dvanoni commented on #124
Just wanted to see if any progress had been made on this issue. I'm still encountering it on the following setup:
- Chisel 1.5.0
- AppCode 2016.3.1

It appears to be working in Xcode 8.2.1

Thanks!

[2017-02-06 03:21] hecomzhangzhiguo opened #182 "pivar and wivar can not be used."
(lldb) pivar self _view
error: error: call to unavailable function 'object_getInstanceVariable': not available in automatic reference counting mode
error: no matching function for call to 'ivar_getTypeEncoding'
note: candidate function has been explicitly made unavailable
note: candidate function not viable: cannot convert argument of incomplete type 'void *' to 'Ivar' (aka 'objc_ivar *')
error: 2

[2017-02-06 19:30] kastiglione commented on #182
Thanks for the report. This might be related to #180. I'll try to put together a fix.

[2017-02-06 19:31] kastiglione commented on #180
Thanks for this report. I'll see if I can get a good fix committed.

[2017-02-07 03:13] hecomzhangzhiguo commented on #182
Thanks.

[2017-02-14 21:06] gorozco58 commented on #177
Hello guys I would like to know if have you fixed this issue ?

[2017-02-14 21:24] kastiglione commented on #177
I haven't fixed it, there's a work around you could try: add backticks (backquotes). For example:

[code]

[2017-02-16 17:32] kos9kus commented on #182
The same problem
*0x610000222360 - instance address*
[code]
error
Sample code:
[code]

[2017-02-17 03:16] srpoucse commented on #148
I see the same issue, any suggestions?

[2017-02-21 14:45] jotshin commented on #148
I'm having the same issue while using `border`. However there's no problem for `show/hide` the same view.

error: error: <EXPR>:1:11: error: use of undeclared type '$__lldb_context'
extension $__lldb_context {
          ^~~~~~~~~~~~~~~

error: <EXPR>:18:5: error: use of unresolved identifier '$__lldb_injected_self'
    $__lldb_injected_self.$__lldb_wrapped_expr_11(
    ^~~~~~~~~~~~~~~~~~~~~

error

[2017-02-21 17:53] kastiglione commented on #148
Thanks for the reports. I'll try to figure out the root cause.

[2017-03-12 22:56] wesleyst opened #184 "error: error: use of undeclared identifier 'self'"
Any command I use I get the message from the title. It does not matter if I use 'self' or not.

When I used it: mask self.my_uitextfield
Returned:

error: error: use of undeclared identifier 'self'
error: error: use of undeclared identifier 'None'
error: error: use of undeclared identifier 'None'
error: error: use of undeclared identifier 'None'
Traceback (most recent call last):
  File "/usr/loca

[2017-03-15 22:52] arctouch-pedrocosta opened #185 "Mask doesn't work on latest Xcode and swift"
error as follows:

(lldb) mask self.testView
error: error: use of undeclared identifier 'self'
error: error: use of undeclared identifier 'None'
error: error: use of undeclared identifier 'None'
error: error: use of undeclared identifier 'None'
Traceback (most recent call last):
  File "/usr/local/opt/chisel/libexec/fblldb.py", line 83, in runCommand
    command.run(args, options)
  File "/usr/loc

[2017-03-16 10:44] jackrobson opened #186 "Unable To Add Border to UIView"
Forgive me if I am not doing this right.

(lldb) pviews 0x7faee840af00
<_UILayoutGuide: 0x7faee840af00; frame = (0 736; 0 0); hidden = YES; layer = <CALayer: 0x608000023ae0>>
(lldb) border 0x7faee840af00
error: error: use of undeclared identifier 'CGFloat'
error: error: use of undeclared identifier 'CGColorRef'
error: expected ']'
to match this '['

PS. This is in a Swift project

[2017-03-16 18:39] idrisr commented on #186
try running this first:

expr @import UIKit

if that fixes your issue, you can add

command alias uikit expr @import UIKit

to your lldbinit file and in the future you'll have to only write uikit before
having the functionality available

On Thu, Mar 16, 2017 at 5:44 AM, jackrobson <notifications@github.com>
wrote:

[2017-03-17 11:42] jay3005 commented on #124
Np

On Thu, Jan 26, 2017 at 12:02 PM, David Vanoni <notifications@github.com>
wrote:

[2017-04-10 02:43] daviyang35 opened #188 "pjson command error"
ENV:
xcode: 8.3.1 8E1000a
chisel: stable 1.5.0, HEAD

When i use "pjson" command print an NSDictionary instance,lldb output this:

error: error: Execution was interrupted, reason: breakpoint 4.1.
The process has been left at the point where it was interrupted, use "thread return -x" to return to the state before expression evaluation.
error: error: use of undeclared identifier 'None'
None

[2017-04-10 02:57] daviyang35 commented on #188
I found the dictionary value has an Objective Class identity.

[2017-04-10 02:57] #188 closed

[2017-04-25 06:54] zhengyaoyuan commented on #174
1. /usr/bin/python
2.['/Applications/Xcode.app/Contents/SharedFrameworks/LLDB.framework/Versions/A', '/Applications/Xcode.app/Contents/SharedFrameworks/LLDB.framework/Resources/Python', '/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python27.zip', '/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7', '/System/Library/Frameworks/Python.framework/Versions/2.7/lib/p

[2017-04-25 07:01] zhengyaoyuan commented on #174
1. /usr/bin/python

1.  ['/Applications/Xcode.app/Contents/SharedFrameworks/LLDB.framework/Versions/A', '/Applications/Xcode.app/Contents/SharedFrameworks/LLDB.framework/Resources/Python', '/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python27.zip', '/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7', '/System/Library/Frameworks/Python.framework/Versions/2.7/li

[2017-04-25 07:05] zhengyaoyuan commented on #174
- ==> Using the sandbox
==> Downloading https://github.com/facebook/chisel/archive/1.5.0.tar.gz
Already downloaded: /Users/zhengyaoyuan/Library/Caches/Homebrew/chisel-1.5.0.tar.gz
==> Caveats
Add the following line to ~/.lldbinit to load chisel when Xcode launches:
  command script import /usr/local/opt/chisel/libexec/fblldb.py
==> Summary
🍺  /usr/local/Cellar/chisel/1.5.0: 24 files, 122.3KB, buil

[2017-04-25 11:08] vin-zhou commented on #174
Got the same issue. Any way to solve it ?

[2017-04-25 20:56] kastiglione commented on #174
@zhengyaoyuan

this needs to be **run in lldb**.

[2017-04-25 23:15] zhengyaoyuan commented on #174
@kastiglione   thx! It works!

[2017-05-09 16:14] shmidt opened #190 "Can't import custom commands"
I was following docs, and added

[code]

to my `.lldbinit `file.

However, I'm getting following error when running `command source ~/.lldbinit`:
[code]

If I just run lldb, then it shows:
[code]

[2017-05-09 21:32] kastiglione commented on #190
You shouldn't need to run `command source ~/.lldbinit`, that should happen automatically by lldb when it starts. However if you do want to run this, it needs to be from lldb's command prompt, but it looks like you are running this from the command line. Let me know if this helps sort things out.

[2017-05-09 21:47] shmidt commented on #190
@kastiglione I was using `command source ~/.lldbinit` just to reload this file in terminal. Here I just provided its output, as it gives more clear error message, then when I run lldb.

[2017-05-09 22:56] kastiglione commented on #190
`command source ~/.lldbinit` is an lldb command, it must be run from the lldb command prompt (`(lldb) `), not from the command line. Running it from the command line will run the `script` command (which is for capturing a shell session's input and output).

[2017-05-11 08:35] kos9kus opened #191 "wivar does't work with internal properties of UIKit objects"
I try to create a watch point and hang it up to UIView's hidden property
*self is UIViewController object*
[code]
Is command syntax corrected I have written!?

[2017-05-12 20:13] kastiglione commented on #191
Have you confirmed that `UIView` has an ivar named `_hidden`? One way to check is to run this lldb command, which will probably print a lot of info, but does include the list of ivars for the class.

[code]

[2017-05-12 20:14] kastiglione commented on #191
Chisel should be improved to handle the case where there is no ivar, and print out an error message.

[2017-06-03 12:49] sryze opened #193 "Chisel not loading because of errors"
I installed chisel via`brew install chisel` but my ~/.lldbinit didn't seem to be working (none of thee chisel commands were found). I manually executed `command source ~/.lldbinit` from LLDB to check if there are any errors as suggested somewhere else and this is what I got:

[code]

(I think this needs to be mentioned in the installation instructions.)

After installing this module via `pip insta

[2017-06-05 17:47] kastiglione commented on #193
Is this referring to installing the `six` module?

I've seen the issue with `six` before, but that was due to corporate IT installing its own python and it not having the `six` module. On a stock macOS with stock Xcode, the `six` module is installed

[code]

That's unusual, apparently `lldb.debugger` is null (`None`). I haven't seen this before.

How come you are running `command source ~/.lldbini

[2017-06-05 20:34] sryze commented on #193
I was running `command source ~/.lldbinit` just to see the errors because I couldn't understand why none of the chisel commands worked, normally it's included from my `~/.lldbinit`:

[code]

Regarding the `six` module error, it seems that I have installed Python via Homebrew, could it be the reason?

Right now everything is working again, I don't know what's changed. I guess I should close this.

[2017-06-05 20:34] #193 closed

[2017-06-06 03:32] kastiglione commented on #193
That combined with path order and such.

The readme should be updated to mention six, since it is the one module that comes up from time to time.

[2017-06-20 03:04] feikang opened #194 "bmessage -[ViewController viewDidLoad] can't make a breakpoint."
i use command bmessage -[ViewController viewDidLoad] ,xcode console show
Setting a breakpoint at -[ViewController viewDidLoad] with condition (void*)object_getClass((id)$r0) == 0x001f9738
Breakpoint 2: where = GrowingTest`-[ViewController viewDidLoad] at ViewController.m:23, address = 0x00104940
but it does't stop . just run as without breakpoint .

[2017-06-20 06:31] feikang commented on #194
it works on iphone,but does't work on simulator。

[2017-06-20 21:38] kastiglione commented on #194
does your view controller happen to be using KVO?

[2017-06-21 01:55] feikang commented on #194
no, i found that when i hook this method with runtime ,it work .

[2017-06-21 07:59] brandFromNSK commented on #177
still not works?

[2017-06-23 04:12] kastiglione commented on #177
@brandFromNSK did you try the work around?

    visualize `variable`

[2017-06-23 04:14] kastiglione commented on #190
I believe my last answer should clear things up, but if not feel free to re-open with further updates.

[2017-06-23 04:14] #190 closed

[2017-06-29 20:17] kiero opened #195 "Release a new version of Chisel"
What do you think of releasing a new version of Chisel?

The lastes version (1.5.0) was released almost a year ago and several commands were added over time (like `xdebug`, `xtree`, `xobject` and `xnoid`).

It will be easier to download/upgrade it via brew.

[2017-06-30 02:23] kastiglione commented on #195
good call, I'll do it soon

[2017-07-04 15:45] 3DLudi opened #196 "Config?"
Wow =)
~2900 OreDict entries for Chisel blocks...
YUNo OreDict config?

[2017-07-05 04:14] kastiglione commented on #196
I'm not familiar with OreDict. Are you looking for https://github.com/Chisel-Team/Chisel?

[2017-07-06 22:14] 3DLudi commented on #196
Desc:
Chisel is a collection of LLDB commands to assist in the debugging of iOS apps.

Opps!  Sorry.  You sir... are correct.
Please ignore.  Just me being sloppy.

[2017-07-06 22:14] #196 closed

[2017-07-08 16:49] benkane commented on #177
I tried backticks around the variable (a `UIImage`) and it did not work. Still seeing errors (Chisel 1.5.0).

[2017-07-21 06:48] #170 closed

[2017-07-21 06:49] kastiglione commented on #195
Still planning to do this. I'm aiming for the next few days.

[2017-08-19 00:30] amoyio commented on #177
@kastiglione @brandFromNSK I tried workaround and it works in [swift 4|Xcode 9 Beta]. But I suggest update README or help command to let everyone know.

[2017-08-25 06:22] SinCheung opened #198 "pblock & pproperties type error"
(lldb) pblock completion
error: error: cannot initialize a parameter of type 'id<NSCopying> _Nonnull' with an rvalue of type 'NSString *'
passing argument to parameter 'aKey' here
error: cannot initialize a parameter of type 'id<NSCopying> _Nonnull' with an rvalue of type 'NSString *'
passing argument to parameter 'aKey' here
error: error: cannot initialize a parameter of type 'id<NSCopying> _Nonn

[2017-09-14 02:07] HomlesZhao opened #201 "Xcode 9 , command : visualize error"
look at
[code]

[2017-09-14 17:31] kastiglione commented on #201
thanks for the report. If you want to try #202 and let me know, I'll merge it soon.

[2017-09-26 15:58] StYaphet opened #203 "pactions report error when argument has no action and target"
Error message are:
error: error: Execution was interrupted, reason: Attempted to dereference an invalid ObjC Object or send it an unrecognized selector.
The process has been returned to the state before expression evaluation.
error: error: use of undeclared identifier 'None'
Traceback (most recent call last):
  File "/usr/local/Cellar/chisel/1.5.0/libexec/fblldb.py", line 83, in runCommand
    com

[2017-09-26 18:00] kastiglione commented on #203
Thanks!

[2017-09-26 20:12] kastiglione commented on #203
I just tried, but couldn't reproduce the problem. For a UIButton with no actions, it doesn't print out anything. I should change this to print "no actions".

This raises a question: what is the class of the argument you passed to `pactions`?

[2017-09-28 15:06] StYaphet commented on #203
Oh, it's my fault, I pass a instance of UIImageView class. 囧
It's very nice for you adding some message show on the debug console, thank you very much.

[2017-10-08 06:13] hulizhen opened #204 "taplog crashes Xcode every time"
Hi, Xcode 9 crashes every time when working with taplog. Actually, it holds true in Xcode 8. Is there any way to fix this issue?

How to reproduce this issue:
1. Lauch application.
2. Interrupt application.
3. Type `taplog` and enter.
4. Tap anywhere in the application.
5. Xcode crashes.

Here is the crash report. Maybe it's a bug of Xcode, but I hope there is any workaround.
Any help would be app

[2017-10-08 15:47] kastiglione commented on #204
Oh wow, I haven't ever seen this. This is the first I've heard of xcode crashes related to chisel. I use `taplog` fairly regularly, and it's worked as expected with both 8 and 9. I think it's worth filing a radar with Apple, I'm not sure there's much I'll be able to do with the details.

Let's leave this open and see if anyone else is hitting the same crash, or if anyone else knows of a workaround

[2017-10-09 03:14] hulizhen commented on #204
All right, I will file a radar with Apple. Thanks, though :)

[2017-10-09 04:24] Bupterambition opened #205 "fail to call visualize command"
visualize 0x7fd1f054ebc0
error: error: invalid suffix 'isKindOfClass' on integer constant
Traceback (most recent call last):
  File "/usr/local/opt/chisel/libexec/fblldb.py", line 83, in runCommand
    command.run(args, options)
  File "/usr/local/Cellar/chisel/1.5.0/libexec/commands/FBVisualizationCommands.py", line 178, in run
    _visualize(arguments[0])
  File "/usr/local/Cellar/chisel/1.5.0/l

[2017-10-14 09:40] hulizhen commented on #204
I think I just make `taplog` work perfectly again.

Just install the [XcodeCleanner](https://github.com/waylybaye/XcodeCleaner) and clean the unused Xcode files.

[2017-10-15 12:21] garnett commented on #195
@kastiglione any progress on the release? 😸

[2017-10-16 21:17] bencochran commented on #201
I experienced the same issue, and the fix in #202 fixes it for me as well 👍

[2017-10-16 21:45] #201 closed

[2017-10-26 15:35] kastiglione commented on #195
Haven't forgotten, probably tomorrow.

[2017-11-07 20:10] kastiglione commented on #195
Release: https://github.com/facebook/chisel/releases/tag/1.6.0
Homebrew: https://github.com/Homebrew/homebrew-core/pull/20383

[2017-11-09 12:30] aboelbisher opened #208 "border doesn't work with swift 3"
Hi.
am trying to border a view (using swift 3 and Xcode 9.1) , but it keeps giving me this error :
error: error: use of undeclared identifier 'CGFloat'
error: error: use of undeclared identifier 'CGColorRef'
error: expected ']'
to match this '['

[2017-11-09 12:57] aboelbisher commented on #186
Hi
I have the same problem and running : expr @import UIKit .
gave me this error : error: <EXPR>:3:2: error: expected an attribute name

[2017-11-09 17:54] kastiglione commented on #186
if it's a swift project, you'll probably want to run `expr import UIKit`, or you can stick with the objective-c syntax by using `expr -l objc -- @import UIKit`.

[2017-11-09 17:54] kastiglione commented on #208
thanks, I'll take a look

[2017-11-12 19:23] garnett opened #209 "pvc stopped working in latest release"
swift4, Xcode9.1:

[code]

[2017-11-12 19:31] garnett commented on #209
According to the https://github.com/facebook/chisel/wiki#pvc it expects a parameter and works if it's given one... I used it before without any to print all controllers though.

[2017-11-13 11:11] ThibaultFarnier commented on #209
Also having the issue with Obj-C projects

[2017-11-13 17:51] kastiglione commented on #209
@garnett thanks for the report. An argument isn't required. I'll investigate.

[2017-11-13 18:41] kastiglione commented on #209
I have a fix in #210. If you're not using the XCTest helper commands, then you could easily test it by editing fblldbbase.py. In there, find `evaluateExpressionValue` and swap the order of `printErrors` and `language`, as shown in this diff. I plan to push out a 1.6.1 fix release tonight.

[2017-11-14 12:01] NikolayShubenkovProgSchool commented on #193
@sryze
yes. this is the reason. Location of Chisel for homebrew is like /usr/local/Cellar/chisel/1.6.0/libexec/fblldb.py
so this line should be as the following:
command script import /usr/local/Cellar/chisel/1.6.0/libexec/fblldb.py

to check location of home-brew packet please use command:
brew info chisel

[2017-11-14 23:53] #209 closed

[2017-11-23 04:20] sunbohong opened #211 "'pmethods self' error"
[code]

[2017-12-06 15:22] shimminZ opened #213 "pvc error"
(lldb) help pvc
     Print the recursion description of <aViewController>.  Expects 'raw' input
     (see 'help raw-input'.)

Syntax:
Print the recursion description of <aViewController>.

Arguments:
  <aViewController>; Type: UIViewController*; The view controller to print the
  description of.

Syntax: pvc <aViewController>

This command is implemented as FBPrintViewControllerHierarchyCommand in

[2017-12-06 15:24] shimminZ commented on #213
how to  solve this problem

[2017-12-10 22:59] xhruso00 commented on #208
Reboot fix this issue for me.

[2017-12-11 09:03] xhruso00 commented on #208
try in console
e @import AppKit or
e @import UIKit

[2017-12-11 15:28] Unihilator commented on #213
👍

[2017-12-12 16:14] aboelbisher commented on #208
reboot what ? my macbook ? or just the Xcode ?

[2017-12-12 16:22] aboelbisher commented on #208
rebooting didn't fix the issue
and importing gave me an error :
error: <EXPR>:3:2: error: expected an attribute name
@import UIKit

and also #import UIKit gave the error :
error: error: use of undeclared identifier 'CGFloat'
error: error: use of undeclared identifier 'CGColorRef'
error: expected ']'
to match this '['

after calling "border self.view"

[2017-12-13 09:01] Unihilator commented on #213
problem is somewhere in fblldbinit. Cant debug it because can't reload module with the command `script reload(fblldbbase)`. Anyway we can use `po [UIViewController _printHierarchy]` for now

[2017-12-25 01:37] shimminZ commented on #213
@Unihilator   Thank you.  the po [UIViewController _printHierarchy]  is  useful.  but  i am according to the configuration documentation  set  the .fblldbinit . and the  visualize  command  is  valid .

[2018-01-03 18:47] cbowns opened #215 "`visualize` fails for certain UIImage pointers"
(Refs #205 and #177 )

Swift 4 code in Xcode 9.2 running on an iOS 10.3 device. I have a `UIImage?` I'm trying to `visualize` from the device, and it sometimes fails. (I don't know if it's related to the image optional or not: sometimes it works just fine!)

The error text is reliably the same:

[code]

Even if I backtick it, or force-unwrap:

[code]

[2018-01-08 07:51] DotzuX opened #220 "Icons are not getting displayed for Copy, Done etc on iPhone iOS 10"
I have integrated the FLEX library in my app but i am sometimes not getting the icons for Copy, Done etc in the explorer.

[2018-01-10 13:18] mohamede1945 opened #221 "Release Latest Version To Homebrew"
Currently, the latest version at homebrew is 1.6.0 http://formulae.brew.sh/formula/chisel, would you please release 1.7.1?

[2018-01-10 14:05] keith commented on #221
See https://github.com/Homebrew/homebrew-core/pull/22450/ for progress on this

[2018-01-10 18:56] mohamede1945 commented on #221
thank you

[2018-01-22 22:11] kastiglione commented on #221
Homebrew has been updated. Thanks!

[2018-01-22 22:11] #221 closed

[2018-01-25 10:46] ydms opened #222 "visualize in Swift Error"
xcode 9, Swift4
in oc ok!

[code]

[code]

[code]

[2018-01-25 19:25] danielchangsoojones opened #223 "Search For Text Within Views"
Is there a command to search a string that I see on my button (i.e. "Enter Your Email Address") and then it will return the name and address of the View that it came from?

Example:
I search "Enter Your Email Address"
it goes through all UILabels, UITextViews, UIButtons, etc. to find any button that has that  "Enter Your Email Address"
Then, it returns all the names and addresses that had this str

[2018-01-26 01:20] kastiglione commented on #223
You could try `fa11y` (run `help fa11y`) for more info. This obscurely named command is `f` + `a11y` where `f` is for "find" and `a11y` is an abbreviation for "accessibility". This command searches the accessibility labels of views.

Also check out `taplog`, which waits for the next tap and prints out the view that was tapped. If you run `taplog` and then click the button, it will give you its add

[2018-01-26 17:40] danielchangsoojones commented on #223
Wow, taplog is a very nice command. If I don't have accessibility labels set for my view then will it not find anything? Aren't accessibility labels when you are trying to help impaired people (blind, deaf, etc.) use the app and you have to manually set them?

[2018-01-26 17:56] kastiglione commented on #223
Accessibility labels are set by default for buttons, labels, and text views. For your example, the button accessibility label can be expected to match the button's text.

[2018-01-26 18:01] #211 closed

[2018-01-26 18:03] kastiglione commented on #223
A last approach to doing this is to run `pviews`, which will print out the entire view hierarchy. Then, from the lldb console, use Command-F to search for the view you're interested in. Or, instead of Command-F, Xcode has a Filter search field at the bottom right of the console, which will show only lines that match the filter text.

<img width="137" alt="screen shot 2018-01-26 at 10 03 15 am" src

[2018-01-29 22:14] danielchangsoojones opened #226 "Attempted to Dereference An Invalid ObjC Object"
I am trying to run the fa11y command, but I get this error. I can't seem to figure it out or find any resources to fix this. Here is the complete error:

[2018-01-29 22:36] kastiglione commented on #226
thanks I'll look into this

[2018-01-30 23:23] dlo opened #227 "pjson not returning expected value with Swift"
Using the latest version of chisel from Homebrew. When I use pjson on a `[String: String]` dictionary in Swift, it doesn't appear to work.

[code]

Happy to help contribute a fix if this only works for Objective-C!

[2018-01-31 00:21] kastiglione commented on #227
Does this work?

[code]

[2018-01-31 00:29] kastiglione commented on #227
I think this problem can be resolved by #228. If you'd like to try this on your machine, I can help you with that.

[2018-01-31 03:34] dlo commented on #227
@kastiglione I'm going to check this out tomorrow morning. Thanks again for the quick change! You are awesome!

[2018-01-31 22:10] dlo commented on #227
@kastiglione Finally got around to testing master. :)

Here's the output I get with the latest change in #228:

[code]

It's weird that I see an EXC_BAD_ACCESS, since `po response` works as expected.

[2018-01-31 22:29] dlo commented on #227
FWIW, here's my `pjson` function in my existing .lldbinit. This one works as expected:

[code]

[2018-01-31 23:07] kastiglione commented on #227
Do the changes in #228 work without the backticks?

`pjson response`

The backticks was a workaround suggestion to try, but then I opened the pull request which I expected would fix the bug.

[2018-01-31 23:14] dlo commented on #227
Unfortunately not, I tried that too. Same output as the original error.

On Wed, Jan 31, 2018 at 5:08 PM Dave Lee <notifications@github.com> wrote:

--
Sent from my iPhone

[2018-02-02 00:56] kastiglione commented on #227
I think there are two problems here. One is fixed by #228, but the other is a need to handle swift array/dictionary types. Either by adding some bridging casts, or as how you've done in the alias, by avoiding objc entirely and doing the conversion in swift. I'll have to try them and report back.

[2018-02-02 02:49] dlo commented on #227
Sounds great, let me know if you'd like an extra hand.

[2018-02-05 16:52] dmpv opened #229 "`lldb` fails to execute `findinstances` command"
That's what happening:
[code]

The framework exists at `/usr/local/Cellar/chisel/1.7.1/libexec/commands/../../lib/Chisel.framework/Chisel` and other commands are running perfectly.

[2018-02-05 17:06] kastiglione commented on #229
Thanks for the report. Was this while debugging simulator, or device? If simulator, cal you run this command and paste the results?

`file /usr/local/Cellar/chisel/1.7.1/libexec/commands/../../lib/Chisel.framework/Chisel`

[2018-02-05 17:20] dmpv commented on #229
Works fine on simulator.

Still fails on iPhone X, iOS 11.2

[2018-02-06 18:11] kastiglione commented on #229
I'll add a usage message to indicate that `findinstances` is currently only enabled for simulator. I have to figure out what needs to be done to support code signing for device.

[2018-02-21 13:58] ollieatkinson commented on #222
Also seeing the same issue, tested on older version 1.5.0 with the same result:

[code]

[2018-03-06 05:03] #115 closed

[2018-03-06 05:37] kastiglione commented on #226
It looks like a private method used by `fa11y` and `pa11y` is no longer present. `_accessibilityElementsInContainer:topLevel:includeKB:`

[2018-03-06 05:39] kastiglione commented on #226
cc @bartoszj who had previously contributed to these commands.

[2018-03-06 05:39] #223 closed

[2018-03-06 05:41] kastiglione commented on #213
I can't reproduce this. Are you still getting this error @shimminZ?

[2018-03-06 05:43] #191 closed

[2018-03-06 18:24] #186 closed

[2018-03-06 18:25] kastiglione commented on #208
This should be fixed by #232.

[2018-03-06 18:25] #208 closed

[2018-03-06 18:26] kastiglione commented on #222
The issue with `visualize` should be resolved by #232.

[2018-03-06 18:28] kastiglione commented on #222
The "undeclared identifier 'self'" bug should be resolved by #171.

[2018-03-14 02:46] kastiglione commented on #54
Fixed in #236

[2018-03-14 02:46] #54 closed

[2018-03-14 02:49] kastiglione commented on #62
This did happen in #197

[2018-03-14 02:49] #62 closed

[2018-03-14 02:52] kastiglione commented on #138
Add `findinstances` #197

[2018-03-14 02:52] #138 closed

[2018-03-14 03:12] kastiglione commented on #145
This is something that `findinstances` should be able to do. Please reopen or @ mention me to discuss this more.

[2018-03-14 03:12] #145 closed

[2018-03-14 03:16] kastiglione commented on #169
Most commands now evaluate their input using the current language. I haven't tried `present` specifically, but any commands that don't evaluate input in the current language will be soon switched over.

[2018-03-14 03:16] #169 closed

[2018-03-14 03:17] #174 closed

[2018-03-14 03:23] kastiglione commented on #220
@DotzuX this is not the repo for FLEX, and I don't know FLEX well enough to help with this.

[2018-03-14 03:23] #220 closed

[2018-03-14 23:54] #226 closed

[2018-04-04 23:44] NikolaiSa commented on #124
fwiw, it looks like the visualize command *does* save the image into the tmp/xcode_debug_images folder when used in AppCode, so at least there's a way to access it. Not as elegant but at least possible.

[2018-04-26 09:56] Ashraf-Ali-aa opened #243 "Error running xtree in XCUITest"
I get an error when I try to run `xtree`
[code]

[2018-05-22 15:31] shmidt commented on #190
I still have this problem.
So from what I understand, this error comes from 'import lldb' line.
I removed all Python versions except system one, and 'import lldb' totally works in REPL, so I have no idea why it doesn't work in Chisel.

[2018-06-05 17:48] cbowns commented on #215
This is a dupe of #177

[2018-06-05 17:48] #215 closed

[2018-06-10 21:05] kastiglione commented on #177
This is fixed in #244

[2018-06-10 21:05] #177 closed

[2018-06-19 17:29] kastiglione commented on #124
https://youtrack.jetbrains.com/issue/OC-9356 has been marked as fixed.

[2018-06-19 17:29] #124 closed

[2018-09-28 14:25] fxcoudert opened #249 "Chisel fails to build with macOS 10.14 SDK"
Chisel 1.8.0 currently fails to build on Mojave and High Sierra, with Xcode 10 (and the 10.14 SDK). After many warnings, errors include:

[code]

[2018-09-28 15:18] kastiglione commented on #249
Thanks for the report. I probably won't be able to investigate today, and I haven't updated to 10.14. I'll try to get a fix soon.

[2018-10-08 16:48] anil0605 opened #250 "Chisel not working for me."
Hi Team,

I have tried to run chisel with my XCode 9.4.1  I have created a file .lldbinit inside the project folder with the contents
command script import /usr/local/opt/chisel/libexec/fblldb.py

I have checked the above file path and it's correct also. Please find the below screenshot if that helps.

<img width="1393" alt="screen shot 2018-10-08 at 5 48 08 pm" src="https://user-images.githubuser

[2018-10-08 17:32] DerekSelander commented on #250
@anil0605, importing can fail for a number of reasons.  Try running that `command script import ...` inside the LLDB console while your app is running and check out the potential error message.  If you get an error message that will be give the Chisel maintainers more context for a fix.

[2018-10-08 17:34] kastiglione commented on #250
As far as I know this does not work. Can you try adding the `command script import` command to your `.lldbinit` in your home directory (`~/.lldbinit`)?

[2018-10-09 09:42] PhilCai1993 commented on #249
It seems it's caused by New build system of Xcode 10. Just open `Chisel.xcodeproj` and in the menu, open File -> Project settings, switch Build System to **Legacy Build System**.
[https://github.com/PhilCai1993/chisel/commit/3e607024c32482ec41d524432c084db08b0eb2d8#diff-71e5ddcb42d44c3865ef361a96892c89](url)

[2018-10-10 08:33] fxcoudert commented on #249
Homebrew is building software from source, on the command-line. We can't "open Xcode", so we need to ship a new version that has the fix in it.

[2018-10-11 14:37] roovent commented on #249
Is there a work around before this gets fixed?

[2018-10-11 14:56] PhilCai1993 commented on #249
fork, change to legacy build system, draft a new release, then brew install using your own source

		获取 Outlook for iOS

On Thu, Oct 11, 2018 at 10:49 PM +0800, "Qing" <notifications@github.com> wrote:

Is there a work around before this gets fixed?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-10-11 15:02] kastiglione commented on #249
I can't reproduce the problem. With both New and Legacy build systems, Chisel builds successfully, both with Xcode and from the command line with `xcodebuild`. I'm happy to get a fix and release out, just not sure how to do that.

[2018-10-11 15:05] kastiglione commented on #249
I created #251 to make Legacy the default. If that works for everyone, I can merge that and create a new release.

[2018-10-11 16:00] roovent commented on #249
I can build successfully with Xcode, but always fail with `brew install chisel`.

[code]

[2018-10-11 17:14] kastiglione commented on #249
thanks will try that

[2018-10-11 17:56] kastiglione commented on #249
Why are these installs even compiling from source instead of using bottles?

[2018-10-11 17:57] kastiglione commented on #249
I can get the install to fail when I force a source install, but the default bottle install succeeds.

[2018-10-11 18:15] roovent commented on #249
I saw in the [Homebrew FAQ](https://docs.brew.sh/FAQ) page under "Why do you compile everything" section:

I'm guessing macOS Mojave is not "supported" yet.

[2018-10-12 06:46] PhilCai1993 commented on #249
[code]

`brew install --build-from-source PATH/TO/chisel.rb`

⬆️This works for me.

By the way, did you install `/Library/Developer/CommandLineTools/Packages/macOS_SDK_headers_for_macOS_10.14.pkg` yet?

[2018-10-12 14:15] kastiglione commented on #249
ah thanks

[2018-10-12 14:17] kastiglione commented on #249
I haven't updated to Mojave. I'm going to merge #251 and create a new release and hope that resolves the problem.

[2018-10-12 14:48] kastiglione commented on #249
I've created a 1.8.1 release. I'm getting a GitHub error when creating the Homebrew PR, so the homebrew release will have to wait a little.

[2018-10-14 12:32] kastiglione commented on #249
Thanks @fxcoudert

[2018-10-15 18:32] skagedal commented on #249
Hi @kastiglione! I'm on Mojave and followed this bug since it wouldn't install with brew. I now did `brew update` and `brew install chisel` and it worked beautifully. Thanks a lot to everyone. 👍

[2018-10-16 17:13] kastiglione commented on #249
Sounds like this issue can be closed. If anyone has errors when installing 1.8.1, please re-open this issue and let me know.

[2018-10-16 17:13] #249 closed

[2018-10-26 03:12] edwardIshaq commented on #227
```pjson `json as NSDictionary```` worked for me

[2018-10-27 06:54] klische opened #252 "pcurl error: error: use of undeclared identifier 'None'"
Just installed chisel.
`command script import /usr/local/opt/chisel/libexec/fblldb.py` in ~/.lldbinit
Also ran the above in the console while debbuging, printed no errors. However, when I try this command:
`pcurl urlRequest` (a Swift URLRequest). I get the following in the console:

error: error: use of undeclared identifier 'None'
error: error: use of undeclared identifier 'None'
error: error: us

[2018-10-31 23:43] MEnnabah commented on #84
HI, Any updates on this?

[2018-10-31 23:54] kastiglione commented on #84
No updates. I'm not sure there's much that can be done from within chisel to make this work.

[2019-02-13 19:45] vivandro commented on #252
Were you able to resolve this issue? I'm seeing similar error as well. Here;s my console output for `pviews`.

<img width="787" alt="screen shot 2019-02-12 at 6 06 23 pm" src="https://user-images.githubusercontent.com/686545/52738998-ce02f680-2f84-11e9-99d2-1e2b66279697.png">

[2019-02-20 16:48] acoomans opened #254 "Chisel not working; 'sys' is not defined"
Added `command script import /usr/local/opt/chisel/libexec/fblldb.py` to ~/.lldbinit; not working.

Running `command script import /usr/local/opt/chisel/libexec/fblldb.py` directly into lldb gives:

[code]

[2019-02-20 16:49] acoomans commented on #254
Solved by importing sys manually in `~/.lldbinit`:

[code]

[2019-02-20 16:49] #254 closed

[2019-02-25 06:51] chizcake commented on #254
You saved me!

[2019-02-26 07:02] kastiglione commented on #254
Thanks for the report. I've opened #255 to resolve the issue.

[2019-03-07 19:35] klische commented on #252
No, I was not able to resolve this issue. I gave up on it and removed Chisel from my project :(

[2019-03-11 07:00] FurionXin opened #256 "Can't use command on iOS12?"
![](https://ws1.sinaimg.cn/large/006tKfTcly1g0yv10mw8oj30ws03qmxu.jpg)
It's normal on iOS10, but I can't use it on iOS12.......

[2019-03-11 07:05] DerekSelander commented on #256
http://newosxbook.com/articles/MDGA.html

[2019-03-11 10:55] FurionXin commented on #256
The third QiLin tool csflags does not seem to support iOS12.........
![](https://ws3.sinaimg.cn/large/006tKfTcly1g0z1yt4w18j30jg05jmxw.jpg)

[2019-03-11 14:39] DerekSelander commented on #256
The link was to show you why LLDB was not working. Perhaps you can patch QiLin to your iOS version or notify the authors of the jailbreak you're using to provide support for debugging apps that you shouldn't be allowed to debug.

[2019-04-01 09:24] 347008893 opened #260 "xocde cannot run app"
xcode always shows waiting for iphone xxx to start   what's worry?

[2019-04-01 09:41] #260 closed

[2019-04-08 15:16] n0shake opened #261 "AttributeError: FBPrintViewHierarchyCommand instance has no attribute 'lex'"
First up, thanks for making this awesome tool!

I installed Chisel via `brew` today morning and I'm running into the following error anytime I use any Chisel commands. Any guesses what I might be doing wrong?

![Screen Shot 2019-04-08 at 8 14 12 AM](https://user-images.githubusercontent.com/8280282/55735630-92116e00-59d6-11e9-8bcd-2144ddd37b9b.png)

[2019-04-08 15:20] idrisr commented on #261
what version of chisel do you have?

brew info chisel

On Mon, Apr 8, 2019 at 10:16 AM Abhishek Banthia <notifications@github.com>
wrote:

[2019-04-08 16:16] n0shake commented on #261
1.8.1

![Screen Shot 2019-04-08 at 9 16 28 AM](https://user-images.githubusercontent.com/8280282/55739976-0819d300-59df-11e9-813f-f083222666ce.png)

[2019-06-04 10:55] dreampiggy opened #262 "Supports Xcode 11 with Python3 instead of Python2"
See [Xcode 11 Beta Release Notes](https://developer.apple.com/documentation/xcode_release_notes/xcode_11_beta_release_notes#3319453)

[2019-06-05 17:19] LoSenTrad commented on #262
??? 不懂 怎么处理?xcode11不能使用chisel

[2019-06-06 02:33] dorentus commented on #262
@LoSenTrad

Until this issue is resolved, you can run the following command once in Terminal:

    defaults write com.apple.dt.lldb DefaultPythonVersion 2

Then LLDB will use old Python 2 and chisel will be happy to run in Xcode (for now).

[2019-06-06 06:35] LoSenTrad commented on #262
OK! The problem has been solved !  thanks~

[2019-06-06 06:40] dreampiggy commented on #262
Yes. We can trun the Python 2 support for now.
I write this issue here, just want to give chisel a hint to start migration to Python 3 :)

[2019-06-13 08:28] chenjiangchuan commented on #262
I spent some time letting chisel support Python [chisel support Python 3](https://github.com/chenjiangchuan/chisel)

[2019-08-06 13:38] vladertel opened #263 "UIKit imported on macOS?"
I'am not sure but maybe "AppKit" should be there?

https://github.com/facebook/chisel/blob/c92cc4c664254c8947ba2ec26d59280608dc3c34/fblldbbase.py#L82

[2019-08-06 14:10] revolter commented on #262
@chenjiangchuan, Why didn't you fork this? This way, you could also open a PR here.

[2019-08-06 20:09] ChrisRicca commented on #261
I'm seeing this as well, running lldb directly from the command line (version 8.0.1) and Chisel version 1.8.1 -- I also tested on lldb version 6.something and saw the same issue.

To be clear: I wasn't using Xcode. Just launching `lldb` from the command line.

[2019-08-16 02:39] dacaiguoguogmail commented on #261
@ChrisRicca You may need import`shlex`, and add `lex` method to command
[code]
[code]

[2019-08-16 05:44] dacaiguoguogmail commented on #261
Final solution
[code]
From https://github.com/facebook/chisel/issues/262

[2019-08-16 09:04] oschanger opened #264 "'pca' command not work"
I tried 'pca' command on backboard/Springboard/my app, all not work.

(lldb) pca
error: error: Execution was interrupted, reason: signal SIGABRT.
The process has been returned to the state before expression evaluation.

This not work too

(lldb) po [NSString stringWithCString:(char *)CARenderServerGetInfo(0, 2, 0)]
error: Execution was interrupted, reason: internal ObjC exception breakpoint(-3)..

[2019-08-16 16:59] kastiglione commented on #264
Which version of the OS? Maybe the private function was removed or changed.

[2019-08-16 17:00] kastiglione commented on #264
@kolinkrewinkel maybe `pca` should be removed. I doubt anyone uses it.

[2019-08-17 05:46] oschanger commented on #264
i'm using it, lol. My version is iphone8p 12.1.2
i reversed QuartzCore and see the function is still there.
But i don't know any other way to invoke this

[2019-08-17 05:48] oschanger commented on #264
i'm tring to understand mechanism of render-server. so it's useful to me

[2019-08-19 17:15] kastiglione commented on #264
It's great that you're getting use of it. I think the vast majority of chisel users wouldn't use it.

One thing about chisel is it has commands for many things that can be simple aliases, and `pca` is one of them. You could add this to your `~/.lldbinit`:

[code]

As far as getting this to work, try fiddling with the values. It's a private function, maybe they added a parameter, or removed a param

[2019-09-25 06:22] #264 closed

[2019-09-25 17:56] kolinkrewinkel commented on #262
Thanks to #266, we should be ready to go on Xcode 11!

[2019-09-25 17:56] #262 closed

[2019-09-27 11:23] Lenhulk opened #270 "Setup wrong in Xcode11.0"
(lldb) command source ~/.lldbinit
command script import /usr/local/opt/chisel/libexec/fblldb.py
error: module importing failed: Missing parentheses in call to 'print'. Did you mean print('Whoops! You are missing the <' + arg.argName + '> argument.')? (fblldb.py, line 98)
  File "temp.py", line 1, in <module>

[2019-09-27 14:17] kastiglione commented on #270
Being fixed in #266

[2019-09-29 05:35] ceekay1991 opened #272 "Xcode11 error: module importing failed: Missing parentheses in call to 'print'"
error: 'pviews' is not a valid command.
error: module importing failed: Missing parentheses in call to 'print'. Did you mean print('Whoops! You are missing the <' + arg.argName + '> argument.')? (fblldb.py, line 98)
  File "temp.py", line 1, in <module>

[2019-09-29 11:59] danielpetroianu commented on #272
I experience the same error message when running with Xcode 11.
I think this is related to https://github.com/facebook/chisel/issues/262

[2019-09-30 10:25] dlwj15 opened #273 "xcode 11.0 run error"
error: module importing failed: Missing parentheses in call to 'print'. Did you mean print('Whoops! You are missing the <' + arg.argName + '> argument.')? (fblldb.py, line 98)
  File "temp.py", line 1, in <module>

[2019-10-03 07:41] spnkr commented on #272
you're using python 3, which doesn't work with chisel. the python binary xcode 11 uses is here fwiw: /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework

[2019-10-08 06:48] TomLongJoy commented on #272
cd ~/Downloads && git clone https://github.com/chenjiangchuan/chisel.git && cd chisel &&cp -f -R -v libexec /usr/local/Cellar/chisel/1.8.1
I use this , my chisel work.

[2019-10-10 01:26] CyberMew commented on #273
If you looked at a few issues down, #270, #272 have the same issue. It is already being worked on in #266

[2019-10-11 20:34] kolinkrewinkel commented on #273
With #266 merged, you should be all good! Let us know if the issue reoccurs!

[2019-10-11 20:34] #273 closed

[2019-10-11 20:34] kolinkrewinkel commented on #270
Fixed by #266!

[2019-10-11 20:34] #270 closed

[2019-10-11 20:37] kolinkrewinkel commented on #272
Should be fixed with #266!

[2019-10-14 17:11] nrbrook commented on #262
Please release!

[2019-10-16 07:40] CyberMew commented on #273
Not working for me still on Xcode 11.1 and macOS 10.14.5, on chisel 1.8.1.

[2019-10-16 14:06] revolter opened #274 "New release please!"
Trying to install with `brew install --HEAD chisel` errors out:

[code]

[2019-10-18 06:47] 279961172 commented on #250
(lldb) script import /path/to/fblldb.py
  File "<input>", line 1
    import /path/to/fblldb.py
           ^
SyntaxError: invalid syntax
(lldb)

Not support python 3.7?

[2019-10-18 06:55] kastiglione commented on #250
You're missing `command`. It should `command script import`

[2019-10-18 07:18] 279961172 commented on #250
(lldb) command script import /path/to/fblldb.py
error: module importing failed: invalid pathname
(lldb)

[2019-10-18 07:19] 279961172 commented on #250
(lldb) command script import /path/to/fblldb.py
error: module importing failed: invalid pathname
(lldb)

[2019-10-18 13:33] kastiglione commented on #250
`/path/to/fblldb.py` is a placeholder in the documentation, you have to substitute your real path to wherever fblldb.py is on your computer.

[2019-10-22 07:21] Colddddd opened #275 "xcode11 ios13 error"
error: module importing failed: Missing parentheses in call to 'print'. Did you mean print('Whoops! You are missing the <' + arg.argName + '> argument.')? (fblldb.py, line 98)
  File "temp.py", line 1, in <module>

error: module importing failed: invalid pathname

Thank you for your answer

[2019-10-22 07:22] #275 closed

[2019-10-23 07:23] hotchner commented on #274
+1

[2019-10-23 12:47] Ambtion opened #276 "pviews AttributeError: 'NoneType' object has no attribute 'split' ?"
border view
Traceback (most recent call last):
  File "/usr/local/Cellar/chisel/fblldb.py", line 83, in runCommand
    command.run(args, options)
  File "/usr/local/Cellar/chisel/commands/FBDisplayCommands.py", line 78, in run
    for view, level in viewHelpers.subviewsOfView(obj):
  File "/usr/local/Cellar/chisel/fblldbviewhelpers.py", line 75, in subviewsOfView
    for i in xrange(subviewsCount)

[2019-10-24 04:10] 411051493 opened #277 "pjson not show Chinese"
pjson not show Chinese. Show  ""

NSDictionary *name = @{@"1":@"你好",@"2":@"中国"};

pjson name
{
  "1" : "",
  "2" : ""
}

[2019-10-24 05:47] BlankConan opened #278 "chisel load failed"
macOS 10.14.5 (18F132)
Xcode Version 11.1 (11A1027)
Python 3.7.3
ruby 2.3.7p456 (2018-03-28 revision 63024) [universal.x86_64-darwin18]

error: module importing failed: Missing parentheses in call to 'print'. Did you mean print('Whoops! You are missing the <' + arg.argName + '> argument.')? (fblldb.py, line 98)

[2019-10-24 05:49] Ambtion commented on #276
I chang xrange to  range in  fblldbviewhelpers.py; it done

[2019-10-24 05:49] #276 closed

[2019-10-24 07:11] zhang28602 commented on #274
+1

[2019-10-27 18:56] #250 closed

[2019-10-27 18:58] kastiglione commented on #256
can this be closed?

[2019-10-28 10:43] monologue555 commented on #272
Use `brew install chisel` (1.8.1) not work, because merge #266! not update to brew repo. So I download master code to fix this issue.

[2019-10-28 20:47] ansonj commented on #278
I believe this was resolved by pull request #266. Issue #274 tracks a suggestion for the maintainers to make a new release, which would distribute this fix.

[2019-10-31 12:26] nahuel-zapata commented on #274
I have the same issue 🙁

[2019-11-06 08:16] elfenlaid commented on #274
+1

[2019-11-07 03:44] lishihuaniu commented on #277
I have the same problem

[2019-11-08 00:02] joshavant commented on #274
Just a heads up: If you want to sidestep Homebrew and install Chisel manually, you can do this:

[code]

then add the following line to your `~/.lldbinit` file:

[code]

[2019-11-13 21:02] mattjankowiak commented on #272
Still seeing this issue with Chisel 1.8.1.  Any chance we can get the brew repo updated with the changes from #266 ?  Been using Chisel for many years and I love it. Thanks for all your hard work!

[2019-11-13 23:58] raytso commented on #272
Still seeing this with 1.8.1.

[2019-11-14 00:13] raytso commented on #278
Can confirm this issue. Still seeing the same error.

macOS 10.14.6
Xcode Version 11.2.1

[2019-11-14 15:50] hvsw commented on #272
Same issue here

[2019-11-16 09:21] dreampiggy commented on #273
Still not works. Xcode 11.2, macOS 10.15.1.

![image](https://user-images.githubusercontent.com/6919743/68991083-8acc1000-0895-11ea-8919-bf86f826724f.png)
![image](https://user-images.githubusercontent.com/6919743/68991085-8dc70080-0895-11ea-9bb6-0688642011bb.png)

[2019-12-02 06:04] Ad1991 commented on #274
Either what @joshavant said or you can just paste the PAENTS file from any older releases like [this one](https://github.com/facebook/chisel/blob/1.8.1/PATENTS) in `~/Library/Caches/Homebrew/chisel--git/` folder once you receive the error and run `brew install --HEAD chisel` command again. This workaround will allow you keep managing `chisel` via `homebrew`.

[2019-12-02 08:39] revolter commented on #274
@Ad1991, But it will **not** install the latest version.

[2019-12-02 11:00] Ad1991 commented on #274
@revolter: I may be missing something but why not?  After pasting the file, you are still executing `brew install --HEAD chisel` which will install the latest revision.

Below are my logs after parting the PATENTS file:

[code]

[2019-12-03 00:36] archmagees commented on #278
Same issue.

macOS  10.15.1
Xcode 11.1

[2019-12-03 03:45] sxiaojian88 commented on #272
Still seeing this with 1.8.1.

[2019-12-03 07:55] BlankConan commented on #278
error messages:

error: module importing failed: Missing parentheses in call to 'print'. Did you mean print('Whoops! You are missing the <' + arg.argName + '> argument.')? (fblldb.py, line 98)
  File "temp.py", line 1, in <module>

[2019-12-03 07:55] BlankConan commented on #278
@raytso
error: module importing failed: Missing parentheses in call to 'print'. Did you mean print('Whoops! You are missing the <' + arg.argName + '> argument.')? (fblldb.py, line 98)
  File "temp.py", line 1, in <module>

[2019-12-04 09:45] revolter commented on #274
Oh, I previously found some messages related to `brew`'s `HEAD` option stating that it tries to install the latest tagged commit, not the latest commit 😐.

[2019-12-06 19:13] Ronaldoh1 commented on #272
same

[2019-12-11 16:36] renanvs commented on #278
Hi, this occurred with too.

Does It some fix to this error?

[2019-12-18 12:15] fanxiaoApple opened #280 "install fail"
MacOS 10.15.1
Homebrew 1.8.3
When I execute '''brew install chisel''' in my Terminal,An Error appears as the flowing:"
You are using macOS 10.15.
We do not provide support for this pre-release version.
You will encounter build failures and other breakages.
Please create pull requests instead of asking for help on Homebrew's
GitHub, Discourse, Twitter or IRC. As you are running this pre-release ver

[2019-12-23 22:12] maniramezan commented on #278
Since they release a new version, I manually copied `command` folder and rest of `.py` files in the root of the repo to `/usr/local/opt/chisel/libexec/` and replaced it with the ones installed by `brew`.

[2020-01-07 10:51] liumengdeqq opened #281 "error"
error: error: cannot initialize a parameter of type 'id<NSCopying> _Nonnull' with an rvalue of type 'NSString *'
passing argument to parameter 'aKey' here
error: cannot initialize a parameter of type 'id<NSCopying> _Nonnull' with an rvalue of type 'NSString *'
passing argument to parameter 'aKey' here
error: cannot initialize a parameter of type 'id<NSCopying>  _Nonnull const __unsafe_unretained'

[2020-01-15 10:44] JianweiWangs commented on #277
I have the same issues

[2020-02-03 14:53] nikunjinexture commented on #272
Same issue

[2020-02-12 15:20] goodcyg opened #282 "'pvc' is not a valid command."
macOS 10.14.6
Xcode Version 10.2.1
Python 3.7 and Python 2.7
After installing chisel, .lldbinit is set, and can run normally in the terminal, but running under xcode reports an error 'pvc' is not a valid command.

[2020-02-19 02:32] kolinkrewinkel commented on #272
Sorry folks, I've been a neglectful maintainer!
- Just created 2.0.0 release (https://github.com/facebook/chisel/releases/tag/2.0.0)
- Will put up a PR for Homebrew and link it here.

[2020-02-22 04:56] kolinkrewinkel commented on #274
Should be fixed soon, sorry about the wait! https://github.com/Homebrew/homebrew-core/pull/50571

[2020-02-23 19:45] kolinkrewinkel commented on #274
Should be good to go now with a `brew upgrade`. Let me know if you have any issues!

[2020-02-23 19:45] #274 closed

[2020-02-23 19:46] kolinkrewinkel commented on #278
You should be able to update in a more automated way now with `brew upgrade`. Sorry for the delay!

[2020-02-23 19:46] #278 closed

[2020-02-23 19:48] kolinkrewinkel commented on #272
Should be good to go now with a `brew upgrade`. Let us know if there are any issues!

[2020-02-23 19:48] #272 closed

[2020-02-23 20:08] kolinkrewinkel commented on #280
Hey there @fanxiaoApple! Just tested out the new release we published (in the last couple of days) on my Catalina machine and had it succeed / work in Xcode. Does retrying after a `brew upgrade` fix your issue?

[2020-03-06 22:48] #194 closed

[2020-03-17 09:38] lawDavid commented on #277
I have the same problem

[2020-03-20 03:07] wulinfeng198810 opened #283 "error: (lldb) command script import /usr/local/opt/chisel/libexec/fblldb.py"
[code]

Hi, how to deal with it?

[2020-04-07 08:50] lucidstream commented on #283
me too

[2020-04-09 03:34] yayang commented on #272
worked for me, thanks

[2020-05-01 18:49] zkhalapyan opened #284 "error: module importing failed: invalid pathname"
Do we need to update brew after deb751e596ad74425a1b293d7b98b625cac9d94d? Currently running `brew update; brew install chisel` doesn't fetch latest, so `command script import /usr/local/opt/chisel/libexec/fbchisellldb.py` path doesn't resolve, since the installed file is still called `fblldb.py`.

Thought could install head, but doesn't seem like this is working. I can manually resolve the path to

[2020-05-01 19:13] zkhalapyan commented on #284
Also realized, the version installed by brew doesn't have Python3 support, so seems pretty old. It's installing version 2.0.0.

[2020-05-02 02:37] joey-bing commented on #283
I meet the same problem in macOS Catalina 10.15.2, Xcode 11.3.1.

[2020-05-04 21:56] zkhalapyan commented on #284
Alright, seems like I got what happened:

* Python 3 support was in 2.0.0, but xrange fix (d5f155d) wasn't included, so it's still breaking 😢
* There hasn't been a new release since the naming change (deb751e) and therefore brew vs. repo are out of sync.

I would recommend making a new minor release 2.0.1 with the new commits; to make it simple, I have drafted the release notes 😎maybe @kolinkrewin

[2020-05-07 13:42] iandundas commented on #283
this is fixed for me since updating to the latest chisel (2.0.0)

[2020-05-08 01:56] kolinkrewinkel commented on #284
I'll take a pass at fixing this as soon as I can (probably Friday or Monday)! Thanks for digging into it @zkhalapyan!

[2020-05-16 23:40] nikans commented on #284
Any progress here? :)

[2020-06-18 05:56] Linyok commented on #284
I also have this question in my Xcode Version 11.4.1

[2020-07-08 16:39] Hastewave commented on #284
The problem is still relevant

[2020-07-15 12:07] Tliens commented on #284
Successfully! 👏

1、直接下载zip包
2、解压缩
3、打开 /usr/local/Cellar/
4、将下载好的所有文件放到这个文件夹中
5、.lldbinit文件中修改为
[code]

[2020-07-23 08:25] hujiawei commented on #193
@NikolayShubenkovProgSchool
tks
`command script /usr/local/Cellar/chisel/2.0.0/libexec/fblldb.py`
this works for me.

[2020-07-24 04:55] hujiawei commented on #193
cause this path have no six package `/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.7/lib/python3.7/site-packages` you should install six package here

[2020-08-11 19:43] zkhalapyan commented on #284
![200](https://user-images.githubusercontent.com/796815/89941696-3c536400-dbd0-11ea-814d-a7b271bbd2f2.gif)

[2020-08-11 19:47] kolinkrewinkel commented on #284
I’ll try and get an update to brew out later today, thanks for the reminder!

[2020-08-17 20:32] kolinkrewinkel commented on #283
Yep, this is solved by updating to have Python 3 support! There's a new release coming later today (https://github.com/Homebrew/homebrew-core/pull/59799), so I'd recommending updating via brew in around 8 hours so you get the latest and greatest!

[2020-08-17 20:32] #283 closed

[2020-08-17 20:32] kolinkrewinkel commented on #284
https://github.com/Homebrew/homebrew-core/pull/59799 in progress!

[2020-08-18 01:52] kolinkrewinkel commented on #284
Should be good now, sorry it took so long!

[2020-08-18 01:52] #284 closed

[2020-08-19 22:26] zkhalapyan commented on #284
yay, thanks!

[2020-08-21 06:41] wangzcOvO commented on #127
Thanks a lot ! @idrisr

[2020-09-21 09:02] fanxiaoApple commented on #277
I have the same problem

[2020-09-29 07:06] 743848887 opened #288 "taplog error in ios14"
can't find callable: sys.modules['FBFindCommands'].FBTapLoggerCommand.taplog_callback

[2020-11-24 11:24] Unihilator commented on #288
Same for me

[2020-12-22 08:16] WickyLeung commented on #288
Same for me

[2021-02-06 20:11] revolter commented on #288
This was fixed in d759f8f, but a release is needed.

[2021-04-24 08:59] sunbohong opened #292 "bmessage cause a error message"
[code]

[2021-05-07 07:10] miku1958 opened #294 "visualize is not woking on Mac App"
if I visualize a controller, it will fail with this error:
error: error: Execution was interrupted, reason: Attempted to dereference an invalid ObjC Object or send it an unrecognized selector.
The process has been returned to the state before expression evaluation.
Traceback (most recent call last):
  File "/usr/local/opt/chisel/libexec/fblldb.py", line 99, in runCommand
    command.run(args, opti

[2021-06-26 06:23] wzj583585700 commented on #277
I have the same problem

[2021-07-02 03:08] yanyi0 opened #295 "Xcode 12.3 NameError: name 'lldb' is not defined"
Traceback (most recent call last):
  File "<string>", line 1, in <module>
NameError: name 'lldb' is not defined
error: module importing failed: Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/usr/local/opt/chisel/libexec/fbchisellldb.py", line 12, in <module>
    import lldb
  File "/Applications/Xcode.app/Contents/SharedFrameworks/LLDB.framework/Resources/Python

[2021-07-23 06:10] nickjackson2011 opened #296 "Not work in xcode 13"
File "<string>", line 1, in <module>
  File "/usr/local/opt/chisel/libexec/fblldb.py", line 98
    print 'Whoops! You are missing the <' + arg.argName + '> argument.'

Show error message in xcode 13 beta 3, how to fix?

[2021-11-08 08:36] CyberMew opened #297 "CG_CONTEXT_SHOW_BACKTRACE required?"
I breakpoint in my code and tried to do a `visualize subview`

I get this:
[code]

[2021-11-22 07:33] jessesquires opened #298 "[Xcode 13] LLDB RPC server has crashed"
I've discovered that Chisel seems to be crashing LLDB in Xcode 13 when running unit tests.

- Chisel 2.0.1
- macOS Version 12.0.1 (Build 21A559)
- Xcode 13.1 (19466) (Build 13A1030d)

When I remove the chisel import from my `~/.lldbinit`, the crash no longer occurs.

Xcode displays an error alert with the following message:

Clicking to view more details displays:

[code]

[2021-12-26 10:25] shaqima123 opened #299 "Failed applying an ad-hoc signature to xxx"
Hello, I met a problem while installing the Chisel. My MacOS system is Monterey and my chip is M1 Max。

the Error infos like this:

==> Reinstalling chisel
==> Pouring chisel--2.0.1.arm64_big_sur.bottle.tar.gz
Error: Failed applying an ad-hoc signature to /opt/homebrew/Cellar/chisel/2.0.1/lib/Chisel.framework/Chisel.

Is there any methods to fix this problem? thanks!

[2022-01-04 22:05] kolinkrewinkel commented on #292
Hi @sunbohong , sorry for the (very large) delay in getting to this. Thanks for catching this, seems like a really useful fix! A few comments I think would be great to address before proceeding:
- Would be awesome to update the title of the commit to something more descriptive of the change itself for people looking through the commit log in the future.

[2022-01-04 22:31] #292 closed

[2022-02-09 09:30] showtestlog opened #301 "do you want to support python3??"

[2022-02-11 09:55] jaltreuter commented on #288
It's been a year now... any chance a release is coming soon?  Or can you recommend a workaround?

[2022-04-08 07:59] chenxGen commented on #299
This can be ignored, just follow the next line:

[code]
chisel can work properly.

[2022-07-22 03:28] Liiiszt opened #305 "There is no fbobjclldb.py module which is mentioned in the README.md"
In [Custom Command](https://github.com/facebook/chisel#custom-commands), "`Chisel` has a python function just for this, loadCommandsInDirectory in the _fbobjclldb.py_ module."
Actually, the name of the module is _fbchisellldb.py_  or _fblldb.py_.

[2022-10-11 13:39] vochitan90 commented on #298
I'm getting this error with xcode 14.0.1 and IOS 16.0.3. I dont know why and how to fix it, please help!

Details

Could not launch “App”
Domain: IDEDebugSessionErrorDomain
Code: 3
Failure Reason: The LLDB RPC server has crashed. You may need to manually terminate your process. The crash log is located in ~/Library/Logs/DiagnosticReports and has a prefix 'lldb-rpc-server'. Please file a bug and at